openapi: 3.2.0
info:
  version: 1.0.0
  title: Revolut X Crypto Exchange REST Public Market Data API
  description: "As a Revolut X customer, you can use the Revolut X REST API to streamline your trading experience. \n\nBase URL for all endpoints: https://revx.revolut.com/api/1.0\n\n## API key\n\nTo get started using the Revolut X REST API, you need an API key to include with your requests. \nTo create it, follow the instructions below.\n\n### Generate an Ed25519 key pair\n\nBefore creating your API key in the [Revolut X web app](https://exchange.revolut.com/), you must first generate an Ed25519 key pair.\n\nAn Ed25519 key pair consists of a private key and a public key.\nThe private key is kept secret and used for signing data or authenticating, while the public key can be shared to verify signatures and authenticate access.    \n\nYou can generate this pair using `openssl`.\n\n#### 1. Generate the private key\n\nRun the following command in your terminal:\n\n```sh\nopenssl genpkey -algorithm ed25519 -out private.pem\n```\n\nThis command generates a file named `private.pem`, which contains your private key. \nIt has the following structure:\n\n```sh\n-----BEGIN PRIVATE KEY-----\n{YOUR BASE64-ENCODED PRIVATE KEY}\n-----END PRIVATE KEY-----\n```\n\n:::danger[IMPORTANT: Secure your private key]\nThis is your **private** key, and it will be used for signing requests.\n**Your private key is a secret.** \nNever share it with anyone and never send it as a part of any request.\n:::\n\n#### 2. Generate the public key\n\nNext, generate the public key from your private key:\n\n```sh\nopenssl pkey -in private.pem -pubout -out public.pem\n```\n\nThis command generates a file named `public.pem` with your public key.\nIt has the following structure:\n\n```sh\n-----BEGIN PUBLIC KEY-----\n{YOUR BASE64-ENCODED PUBLIC KEY}\n-----END PUBLIC KEY-----\n```\n\n:::info[About your public key]\nThis is your **public** key.\nIt is not secret, and it is safe to share.\nYou will provide this key to Revolut X so we can verify the requests signed with your matching private key.\n\nWhen you provide it, make sure that you copy all of it, including the `-----BEGIN KEY-----` and `-----END KEY-----` lines.\n:::\n\n### Create your API key\n\nOnce you have your **public key** (the content of `public.pem`), you are ready to create your API key.\n\nGo to the [Revolut X web app](https://exchange.revolut.com/) → **Profile** to complete the setup.    \n\n---\n\n## Authentication headers\n\nThis API uses a custom authentication scheme based on Ed25519 signatures.\nEvery request to the API must include the following headers:\n\n| Header | Description |\n| :--- | :--- |\n| `X-Revx-API-Key` | Your API key (64-character alphanumeric string). |\n| `X-Revx-Timestamp` | The Unix timestamp of the request, provided in **milliseconds**. |\n| `X-Revx-Signature` | The request digest string signed with your **private key**. |\n\n### Signing a request\n\nTo generate the `X-Revx-Signature`, you must sign a specific string constructed from your request data.\n\n#### 1. Construct the message string\n\nThe string to sign is a concatenation of the following values, in this specific order:\n\n1. **Timestamp:** Same value as the `X-Revx-Timestamp` header.\n2. **HTTP Method:** Uppercase (e.g., `GET`, `POST`).\n3. **Request Path:** The path starting from `/api` (e.g., `/api/1.0/orders/active`).\n4. **Query String:** The URL query string if present (e.g., `limit=10`). Do not include the `?`.\n5. **Request Body:** The minified JSON body string, if present.\n\n:::note\nWhen concatenating, do not add any separators (spaces, newlines, or commas) between the fields.\n:::\n\n**Example Message:**\n```text\n1765360896219POST/api/1.0/orders{\"client_order_id\":\"3b364427-1f4f-4f66-9935-86b6fb115d26\",\"symbol\":\"BTC-USD\",\"side\":\"BUY\",\"order_configuration\":{\"limit\":{\"base_size\":\"0.1\",\"price\":\"90000.1\"}}}\n```\n\n#### 2. Sign the message\n\n1.  Sign the constructed string using your **Ed25519 private key**.\n2.  **Base64-encode** the resulting signature.\n3.  Send this value in the `X-Revx-Signature` header.\n\n### Code Examples\n\n<details>\n<summary>Python Example</summary>\n\n```python\nimport base64\nfrom pathlib import Path\nfrom nacl.signing import SigningKey\nfrom cryptography.hazmat.primitives import serialization\nfrom cryptography.hazmat.backends import default_backend\n\n# 1. Load your Private Key\npem_data = Path(\"private.pem\").read_bytes()\nprivate_key_obj = serialization.load_pem_private_key(\n    pem_data,\n    password=None,\n    backend=default_backend()\n)\n\n# Extract raw bytes for PyNaCl\nraw_private = private_key_obj.private_bytes(\n    encoding=serialization.Encoding.Raw,\n    format=serialization.PrivateFormat.Raw,\n    encryption_algorithm=serialization.NoEncryption()\n)\n\n# 2. Prepare the message\ntimestamp = \"1746007718237\"\nmethod = \"GET\"\npath = \"/api/1.0/orders/active\"\nquery = \"status=open&limit=10\"\nbody = \"\" # Empty for GET\n\n# Concatenate without separators\nmessage = f\"{timestamp}{method}{path}{query}{body}\".encode('utf-8')\n\n# 3. Sign and Encode\nsigning_key = SigningKey(raw_private)\nsigned = signing_key.sign(message)\nsignature = base64.b64encode(signed.signature).decode()\n\nprint(f\"X-Revx-Signature: {signature}\")\n```\n</details>\n\n<details>\n<summary>Node.js Example</summary>\n\n```javascript\nconst crypto = require('crypto');\nconst fs = require('fs');\n\n// 1. Load your Private Key\nconst privateKey = fs.readFileSync('private.pem', 'utf8');\n\n// 2. Prepare the message\nconst timestamp = Date.now().toString();\nconst method = 'POST';\nconst path = '/api/1.0/crypto-exchange/orders';\nconst body = JSON.stringify({\n  symbol: \"BTC/USD\",\n  type: \"limit\",\n  side: \"buy\",\n  qty: \"0.005\"\n});\n\n// Concatenate without separators\nconst message = timestamp + method + path + body;\n\n// 3. Sign and Encode\n// Note: Use crypto.sign with null to indicate pure Ed25519 signing (no hashing algorithm)\nconst signatureBuffer = crypto.sign(null, Buffer.from(message), privateKey);\nconst signature = signatureBuffer.toString('base64');\n\nconsole.log(`X-Revx-Timestamp: ${timestamp}`);\nconsole.log(`X-Revx-Signature: ${signature}`);\n```\n</details>\n\n---\n\n## API endpoints\n\nTo see the reference for the specific endpoints and operations of this API, browse the menu on the left."
  contact: {}
servers:
- url: https://revx.revolut.com/api/1.0
  description: Production server (uses live data)
- url: https://revx.revolut.codes/api/1.0
  description: Dev server (uses test data)
security:
- ApiKey: []
tags:
- name: Public Market Data
  description: Get Revolut X real time public market data.
paths:
  /public/last-trades:
    get:
      tags:
      - Public Market Data
      summary: Get last trades
      operationId: getLastTrades
      description: Get the list of the latest 100 trades executed on Revolut X crypto exchange.
      security: []
      responses:
        '200':
          description: 'OK


            The list of the latest trades executed on Revolut X crypto exchange.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastTrades'
              examples:
                LastTradesResponse:
                  summary: Public last trades response
                  $ref: '#/components/examples/LastTradesResponseExample'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
  /public/order-book/{symbol}:
    get:
      tags:
      - Public Market Data
      summary: Get order book
      operationId: getPublicOrderBook
      description: Fetch the current order book (bids and asks) for a given trading pair (with a maximum of 5 price levels).
      security: []
      parameters:
      - name: symbol
        in: path
        description: The trading pair, e.g., BTC-USD.
        required: true
        schema:
          type: string
          example: BTC-USD
      responses:
        '200':
          description: 'OK


            The Order Book snapshot for the given trading pair (with a maximum of 5 price levels).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBookPublic'
              examples:
                OrderBookResponse:
                  summary: Public order book response
                  $ref: '#/components/examples/OrderBookPublicResponseExample'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
components:
  examples:
    LastTradesResponseExample:
      value:
        data:
        - tdt: '2025-08-08T21:40:35.133962Z'
          aid: BTC
          anm: Bitcoin
          p: '116243.32'
          pc: USD
          pn: MONE
          q: '0.24521000'
          qc: BTC
          qn: UNIT
          ve: REVX
          pdt: '2025-08-08T21:40:35.133962Z'
          vp: REVX
          tid: 5ef9648f658149f7ababedc97a6401f8
        - tdt: '2025-08-08T21:40:34.132465Z'
          aid: ETH
          anm: Ethereum
          p: '4028.23'
          pc: USDC
          pn: MONE
          q: '12.00000000'
          qc: ETH
          qn: UNIT
          ve: REVX
          pdt: '2025-08-08T21:40:34.132465Z'
          vp: REVX
          tid: 3b2b202b766843cfa6c8b3354e7f4c52
        metadata:
          timestamp: '2025-08-08T21:40:36.684333Z'
    OrderBookPublicResponseExample:
      value:
        data:
          asks:
          - aid: ETH
            anm: Ethereum
            s: SELL
            p: '4600'
            pc: USD
            pn: MONE
            q: '17'
            qc: ETH
            qn: UNIT
            ve: REVX
            'no': '3'
            ts: CLOB
            pdt: '2025-08-08T21:40:36.124538Z'
          - aid: ETH
            anm: Ethereum
            s: SELL
            p: '4555'
            pc: USD
            pn: MONE
            q: '2.1234'
            qc: ETH
            qn: UNIT
            ve: REVX
            'no': '2'
            ts: CLOB
            pdt: '2025-08-08T21:40:36.124538Z'
          bids:
          - aid: ETH
            anm: Ethereum
            s: BUYI
            p: '4550'
            pc: USD
            pn: MONE
            q: '0.25'
            qc: ETH
            qn: UNIT
            ve: REVX
            'no': '1'
            ts: CLOB
            pdt: '2025-08-08T21:40:36.124538Z'
          - aid: ETH
            anm: Ethereum
            s: BUYI
            p: '4500'
            pc: USD
            pn: MONE
            q: '24.42'
            qc: ETH
            qn: UNIT
            ve: REVX
            'no': '5'
            ts: CLOB
            pdt: '2025-08-08T21:40:36.124538Z'
        metadata:
          timestamp: '2025-08-08T21:40:36.124538Z'
  schemas:
    LastTrades:
      type: object
      properties:
        data:
          type: array
          description: The list of the latest trade records.
          items:
            $ref: '#/components/schemas/PublicTrade'
        metadata:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
              description: Timestamp when the data was generated, returned as [ISO-8601](https://wikipedia.org/wiki/ISO_8601) string.
              example: '2025-08-08T21:40:36.684333Z'
          required:
          - timestamp
      required:
      - data
      - metadata
    PublicTrade:
      type: object
      description: A single trade.
      properties:
        tdt:
          type: string
          format: date-time
          description: Trading date and time, returned as [ISO-8601](https://wikipedia.org/wiki/ISO_8601) string.
          example: '2025-08-08T21:40:35.133962Z'
        aid:
          type: string
          description: Crypto-asset ID code.
          example: BTC
        anm:
          type: string
          description: Crypto-asset full name.
          example: Bitcoin
        p:
          type: string
          description: Price in major currency units. For example, for USD, `116243.32` represents 116243.32 dollars.
          example: '116243.32'
        pc:
          type: string
          description: Price currency.
          example: USD
        pn:
          type: string
          description: Price notation.
          example: MONE
        q:
          type: string
          description: Quantity.
          example: '0.24521000'
        qc:
          type: string
          description: Quantity currency.
          example: BTC
        qn:
          type: string
          description: Quantity notation.
          example: UNIT
        ve:
          type: string
          description: Venue of execution. Always equals `REVX`.
          example: REVX
        pdt:
          type: string
          format: date-time
          description: Publication date and time, returned as [ISO-8601](https://wikipedia.org/wiki/ISO_8601) string.
          example: '2025-08-08T21:40:35.133962Z'
        vp:
          type: string
          description: Venue of publication. Always equals `REVX`.
          example: REVX
        tid:
          type: string
          description: Transaction identification code.
          example: 5ef9648f658149f7ababedc97a6401f8
      required:
      - tdt
      - aid
      - anm
      - p
      - pc
      - pn
      - q
      - qc
      - qn
      - ve
      - pdt
      - vp
      - tid
    OrderBookPublic:
      type: object
      properties:
        data:
          type: object
          properties:
            asks:
              type: array
              description: The list of asks (sell orders), sorted by price in descending order.
              items:
                $ref: '#/components/schemas/OrderBookPublicPriceLevel'
            bids:
              type: array
              description: The list of bids (buy orders), sorted by price in descending order.
              items:
                $ref: '#/components/schemas/OrderBookPublicPriceLevel'
          required:
          - asks
          - bids
        metadata:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
              description: Timestamp when the order book snapshot was generated, returned as [ISO-8601](https://wikipedia.org/wiki/ISO_8601) string.
              example: '2025-08-08T21:40:36.124538Z'
          required:
          - timestamp
      required:
      - data
      - metadata
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
      - error_id
      - message
      - timestamp
      properties:
        error_id:
          type: string
          format: uuid
          description: Unique identifier for this specific error occurrence.
        message:
          type: string
          description: Human-readable description of the error.
        timestamp:
          type: integer
          format: int64
          description: The time the error occurred in Unix epoch milliseconds.
    OrderBookPublicPriceLevel:
      type: object
      description: A single order book price level.
      properties:
        aid:
          type: string
          description: Crypto-asset ID code.
          example: ETH
        anm:
          type: string
          description: Crypto-asset full name.
          example: Ethereum
        s:
          type: string
          description: The side of the price level.
          enum:
          - SELL
          - BUYI
          example: SELL
        p:
          type: string
          description: Price in major currency units. For example, for USD, 4600 represents 4600 dollars.
          example: '4600'
        pc:
          type: string
          description: Price currency.
          example: USD
        pn:
          type: string
          description: Price notation.
          example: MONE
        q:
          type: string
          description: Aggregated quantity at this price level.
          example: '17'
        qc:
          type: string
          description: Quantity currency.
          example: ETH
        qn:
          type: string
          description: Quantity notation.
          example: UNIT
        ve:
          type: string
          description: Venue of execution. Always equals `REVX`.
          example: REVX
        'no':
          type: string
          description: Number of orders at the price level.
          example: '3'
        ts:
          type: string
          description: Trading system. Always equals `CLOB` (Central Limit Order Book).
          example: CLOB
        pdt:
          type: string
          format: date-time
          description: Publication date and time, returned as [ISO-8601](https://wikipedia.org/wiki/ISO_8601) string.
          example: '2025-08-08T21:40:36.124538Z'
      required:
      - aid
      - anm
      - s
      - p
      - pc
      - pn
      - q
      - qc
      - qn
      - ve
      - 'no'
      - ts
      - pdt
  responses:
    ServerError:
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Something went wrong!
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
    RateLimitExceeded:
      description: Rate Limit Exceeded
      headers:
        Retry-After:
          description: The number of milliseconds to wait before making a new request.
          schema:
            type: integer
            example: 5000
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Rate Limit Exceeded
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Revx-API-Key
      description: "The [API key](https://developer.revolut.com/docs/api/revolut-x-crypto-exchange#api-key) obtained from the [Revolut X web app](https://exchange.revolut.com/).\nIt takes the form of a 64-character alphanumeric string, and must be provided with other authentication headers.\n\nA sample API key might look like this: \n```sh\nM1VKFtwB0M9C9QJO7goPlwrOytrJsSNE19txsmpsWIKz7xYu3f8aNucIyynAhYBy\n```\n\nEach API key directly maps to the user account (either Business or Retail)."
