openapi: 3.2.0
info:
  title: Merchant Locations API
  version: '2026-04-20'
  description: Welcome to the Revolut Merchant API - your solution to managing the core aspects of e-commerce and accepting online payments.
  contact: {}
servers:
- description: Production server (uses live data)
  url: https://merchant.revolut.com
- description: Sandbox server (uses test data)
  url: https://sandbox-merchant.revolut.com
security:
- Api-Key: []
tags:
- name: Locations
  description: The Locations API is designed to help merchants manage multiple points of sale, including both **online storefronts** and **physical stores**.
paths:
  /api/locations:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    post:
      summary: Create a location
      operationId: createLocation
      description: Create a `Location` object. Supports `online` and `physical` location types.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location-Creation'
            examples:
              example_online_location:
                $ref: '#/components/examples/Req-Location-Online'
              example_physical_location:
                $ref: '#/components/examples/Req-Location-Physical'
      responses:
        '201':
          description: Location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                example_online_location:
                  $ref: '#/components/examples/Res-Location-Online'
                example_physical_location:
                  $ref: '#/components/examples/Res-Location-Physical'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Api-Key: []
      tags:
      - Locations
    get:
      summary: Retrieve location list
      operationId: retrieveLocationList
      description: 'Retrieve a list of locations registered for the merchant.


        :::note [Default behavior]

        Without the `type` query parameter, this endpoint returns only **online** locations by default. To retrieve physical locations, you must explicitly specify `type=physical` in the query parameters.

        :::'
      parameters:
      - $ref: '#/components/parameters/Location-Type'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
              examples:
                list_of_locations:
                  summary: Location list
                  value:
                  - id: 8d9a7125-805f-40f3-a405-bc89765db996
                    name: Grocery website
                    type: online
                    details:
                      domain: groceries.example.com
                  - id: 066223df-d5a8-42f0-b3ce-688c7a76f9a8
                    name: Cars website
                    type: online
                    details:
                      domain: cars.example.com
                  - id: 299050a4-cc7a-44b0-8b2b-7cd1e335ef38
                    name: Example Street Store
                    type: physical
                    details:
                      address:
                        street_line_1: 123 Example Street
                        city: Example city
                        postcode: '12345'
                        country_code: GB
                      geo_location:
                        lat: 12.3456
                        lon: -12.3456
                      opening_hours:
                        monday:
                        - from: 09:00
                          to: '15:00'
                        - from: '16:00'
                          to: '18:00'
                        tuesday:
                        - from: '10:00'
                          to: '13:00'
                        - from: '16:00'
                          to: '18:00'
        '401':
          description: Unauthorized
      security:
      - Api-Key: []
      tags:
      - Locations
  /api/locations/{location_id}:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Location-Id'
    get:
      summary: Retrieve a location
      operationId: retrieveLocation
      description: Retrieve details of a specific location, based on its ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                example_online_location:
                  $ref: '#/components/examples/Res-Location-Online'
                example_physical_location:
                  $ref: '#/components/examples/Res-Location-Physical'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Api-Key: []
      tags:
      - Locations
    patch:
      summary: Update a location
      operationId: updateLocation
      description: 'Update details of a specific location, based on its ID.


        Only the fields provided in the request will be updated. Any omitted fields will retain their current values.


        :::note

        The value of the location''s `type` parameter cannot be updated.

        :::'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location-Update'
            examples:
              online_location:
                summary: Online location example
                value:
                  name: Cars website - Name update
                  details:
                    domain: cars.example.com
              physical_location:
                summary: Physical location example
                value:
                  name: Example Street Store
                  details:
                    opening_hours:
                      monday:
                      - from: '10:00'
                        to: '18:00'
                      wednesday:
                      - from: '11:00'
                        to: '18:00'
      responses:
        '200':
          description: Location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                online_location:
                  summary: Online location example
                  value:
                    id: 8d9a7125-805f-40f3-a405-bc89765db996
                    name: Cars website - Name update
                    type: online
                    details:
                      domain: cars.example.com
                physical_location:
                  summary: Physical location example
                  value:
                    name: Example Street Store
                    type: physical
                    details:
                      address: null
                      street_line_1: 123 Example Street
                      city: Example city
                      postcode: '12345'
                      country_code: GB
                    geo_location:
                      lat: 12.3456
                      lon: -12.3456
                    opening_hours:
                      monday:
                      - from: '10:00'
                        to: '18:00'
                      tuesday:
                      - from: '10:00'
                        to: '13:00'
                      - from: '16:00'
                        to: '18:00'
                      wednesday:
                      - from: '11:00'
                        to: '18:00'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Api-Key: []
      tags:
      - Locations
    delete:
      summary: Delete a location
      operationId: deleteLocation
      description: Delete a specific location, based on its ID.
      responses:
        '204':
          description: Location deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Api-Key: []
      tags:
      - Locations
components:
  schemas:
    Location-Update:
      type: object
      description: Request body for updating a location. The structure of the `details` object depends on the `type` of the location.
      oneOf:
      - $ref: '#/components/schemas/Location-Update-Online'
      - $ref: '#/components/schemas/Location-Update-Physical'
      discriminator:
        propertyName: type
        mapping:
          online: '#/components/schemas/Location-Update-Online'
          physical: '#/components/schemas/Location-Update-Physical'
    Location-Type:
      type: string
      description: 'Type of the location.


        | Value | Description |

        | ----- | ----------- |

        | `online` | Represents an online store. |

        | `physical` | Represents a physical point of sale. |'
      enum:
      - online
      - physical
    Location-Update-Physical:
      title: Location
      type: object
      description: Location object represents merchant locations depending on type.
      oneOf:
      - $ref: '#/components/schemas/Location-Online'
      - $ref: '#/components/schemas/Location-Physical'
      discriminator:
        propertyName: type
        mapping:
          online: '#/components/schemas/Location-Online'
          physical: '#/components/schemas/Location-Physical'
    Location-Online:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Location-Id'
        name:
          $ref: '#/components/schemas/Location-Name'
        type:
          $ref: '#/components/schemas/Location-Type'
        details:
          $ref: '#/components/schemas/Location-Online-Details'
      required:
      - id
      - name
      - type
      - details
    Opening-Hours:
      type: object
      description: 'An object containing the opening hours for each day of the week.


        A day can have multiple intervals (e.g., closing for a lunch break).'
      properties:
        monday:
          description: Opening hours for Monday.
          $ref: '#/components/schemas/Day-Opening-Hours'
        tuesday:
          description: Opening hours for Tuesday.
          $ref: '#/components/schemas/Day-Opening-Hours'
        wednesday:
          description: Opening hours for Wednesday.
          $ref: '#/components/schemas/Day-Opening-Hours'
        thursday:
          description: Opening hours for Thursday.
          $ref: '#/components/schemas/Day-Opening-Hours'
        friday:
          description: Opening hours for Friday.
          $ref: '#/components/schemas/Day-Opening-Hours'
        saturday:
          description: Opening hours for Saturday.
          $ref: '#/components/schemas/Day-Opening-Hours'
        sunday:
          description: Opening hours for Sunday.
          $ref: '#/components/schemas/Day-Opening-Hours'
    Error:
      title: Error
      type: object
      properties:
        errorId:
          type: string
          description: The ID of the error. You can share this ID with Revolut support for troubleshooting.
        timestamp:
          type: integer
          description: The date and time the error happened.
      required:
      - errorId
      - timestamp
    Location-Creation:
      type: object
      description: Request body for creating a location. The structure of the `details` object depends on the `type` of the location.
      oneOf:
      - $ref: '#/components/schemas/Location-Creation-Online'
      - $ref: '#/components/schemas/Location-Creation-Physical'
      discriminator:
        propertyName: type
        mapping:
          online: '#/components/schemas/Location-Creation-Online'
          physical: '#/components/schemas/Location-Creation-Physical'
    Location-Physical:
      title: Location
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Location-Id'
        name:
          $ref: '#/components/schemas/Location-Name'
        type:
          $ref: '#/components/schemas/Location-Type'
        details:
          $ref: '#/components/schemas/Location-Physical-Details'
      required:
      - id
      - name
      - type
      - details
    Day-Opening-Hours:
      type: array
      description: "A list of one or more time intervals for a single day. \n\nA day can have multiple intervals (e.g., closing for a lunch break)."
      items:
        type: object
        properties:
          from:
            type: string
            format: time
            description: 'The local time when the interval begins.


              :::note

              The format is `hh:mm[:ss]`; seconds are optional and must be `00` if provided.

              :::'
            example: 09:00:00
          to:
            type: string
            format: time
            description: 'The local time when the interval ends.


              :::note

              The format is `hh:mm[:ss]`; seconds are optional and must be `00` if provided.

              :::'
            example: '18:00:00'
        required:
        - from
        - to
    Location-Creation-Online:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Location-Name'
        type:
          $ref: '#/components/schemas/Location-Type'
        details:
          $ref: '#/components/schemas/Location-Online-Details'
      required:
      - name
      - type
      - details
    Location-Online-Details:
      type: object
      description: Additional details of the location.
      properties:
        domain:
          type: string
          description: 'Domain address of the location. Required for online locations.


            :::warning

            The `domain` parameter''s value must be unique across all locations.

            :::'
      required:
      - domain
    Address-v3:
      type: object
      description: Details of a physical address.
      properties:
        street_line_1:
          type: string
          description: Primary address line.
          maxLength: 100
        street_line_2:
          type: string
          description: Secondary address line, such as floor and apartment number.
          maxLength: 100
        region:
          type: string
          description: State or province of the address.
          maxLength: 100
        city:
          type: string
          description: City of the address.
          maxLength: 100
        country_code:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 2-letter country code.
          minLength: 2
          maxLength: 2
        postcode:
          type: string
          description: Postal code of the address.
          maxLength: 100
      required:
      - street_line_1
      - city
      - country_code
      - postcode
    Location:
      title: Location
      type: object
      description: Location object represents merchant locations depending on type.
      oneOf:
      - $ref: '#/components/schemas/Location-Online'
      - $ref: '#/components/schemas/Location-Physical'
      discriminator:
        propertyName: type
        mapping:
          online: '#/components/schemas/Location-Online'
          physical: '#/components/schemas/Location-Physical'
    Location-Update-Online:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Location-Name'
        details:
          $ref: '#/components/schemas/Location-Online-Details'
    Location-Name:
      type: string
      description: "Name of the location. \n\n:::warning\nThe `name` parameter's value must be unique across all locations.\n:::"
    Location-Id:
      type: string
      format: uuid
      description: 'Unique ID representing the location where merchants sells products.


        :::info

        For more information, see: [Locations](https://developer.revolut.com/docs/api/merchant#tag-locations).

        :::        '
    Location-Physical-Details:
      type: object
      description: Additional details of the location.
      properties:
        address:
          $ref: '#/components/schemas/Address-v3'
        geo_location:
          $ref: '#/components/schemas/Geo-Location'
        opening_hours:
          $ref: '#/components/schemas/Opening-Hours'
      required:
      - address
      - geo_location
      - opening_hours
    Geo-Location:
      type: object
      description: Coordinates of the location.
      properties:
        lat:
          type: number
          format: double
          description: The latitude of the location, in decimal degrees.
          minimum: -90
          maximum: 90
        lon:
          type: number
          format: double
          description: To longitude of the location, in decimal degrees.
          minimum: -180
          maximum: 180
      required:
      - lat
      - lon
    Location-Creation-Physical:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Location-Name'
        type:
          $ref: '#/components/schemas/Location-Type'
        details:
          $ref: '#/components/schemas/Location-Physical-Details'
      required:
      - name
      - type
      - details
  examples:
    Req-Location-Physical:
      summary: Physical location request example
      value:
        name: Example Street Store
        type: physical
        details:
          address:
            street_line_1: 123 Example Street
            city: Example city
            postcode: '12345'
            country_code: GB
          geo_location:
            lat: 12.3456
            lon: -12.3456
          opening_hours:
            monday:
            - from: 09:00
              to: '15:00'
            - from: '16:00'
              to: '18:00'
            tuesday:
            - from: '10:00'
              to: '13:00'
            - from: '16:00'
              to: '18:00'
    Req-Location-Online:
      summary: Online location request example
      value:
        name: Grocery website
        type: online
        details:
          domain: groceries.example.com
    Res-Location-Online:
      summary: Online location request example
      value:
        id: 8d9a7125-805f-40f3-a405-bc89765db996
        name: Grocery website
        type: online
        details:
          domain: groceries.example.com
    Res-Location-Physical:
      summary: Physical location request example
      value:
        id: 8d9a7125-805f-40f3-a405-bc89765db996
        name: Example Street Store
        type: physical
        details:
          address:
            street_line_1: 123 Example Street
            city: Example city
            postcode: '12345'
            country_code: GB
          geo_location:
            lat: 12.3456
            lon: -12.3456
          opening_hours:
            monday:
            - from: 09:00
              to: '15:00'
            - from: '16:00'
              to: '18:00'
            tuesday:
            - from: '10:00'
              to: '13:00'
            - from: '16:00'
              to: '18:00'
  parameters:
    Authorization:
      name: Authorization
      in: header
      schema:
        type: string
        format: Bearer <yourSecretApiKey>
        example: Bearer sk_1234567890ABCdefGHIjklMNOpqrSTUvwxYZ_1234567890-Ab_cdeFGHijkLMNopq
      required: true
      description: "This parameter accepts the [Merchant API Secret key](https://business.revolut.com/settings/apis?tab=merchant-api) to authorise requests coming from the merchant's backend. \n\nIt ensures that ensures that each request is authenticated and authorised by verifying the secret key. The secret key should be included in all request headers as a `Bearer` token.\n\n:::info\nFor more information, see: [Authentication](https://developer.revolut.com/docs/api/merchant#authentication)\n:::"
    Location-Id:
      name: location_id
      schema:
        type: string
        format: uuid
        description: A UUID string, typically used to identify resources.
      in: path
      required: true
      description: The ID of the location.
    Location-Type:
      name: type
      in: query
      schema:
        type: string
        enum:
        - online
        - physical
      description: Filter the list by location type.
  securitySchemes:
    Api-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Each Merchant API request must contain an authorization header in the following format:


        ```

        ''Authorization: Bearer <yourSecretApiKey>''

        ```


        To use this API, you need to generate API keys from your Revolut Business account. The Secret key is used in the authorization header for all server calls, while the Public key is provided with payment methods at checkout.


        :::info

        For detailed instructions on generating your API keys, see: [Generate API keys](https://developer.revolut.com/docs/guides/merchant/get-started#generate-api-keys).

        :::'
