openapi: 3.0.1
info:
  version: '1.0'
  title: Business Accounting Orders API
  description: "As a Revolut Business customer with a Business Account, you can use the Business API to automate your own business processes.\nSave time, reduce your costs, and avoid errors by using the Business API. \n\n:::tip[Before you get started]\nTo learn more about the Business API and its features, check the [**user guides**](https://developer.revolut.com/docs/guides/manage-accounts/introduction).\n\nYou can reach them at any time from the main navigation bar **→ Guides → Business**.\n:::\n\nYou can view accounts, manage counterparties, make payments or currency exchanges without manual effort in the Web UI:\n\n- Accounting: [Account management](https://developer.revolut.com/docs/api/business#get-account), [Accounting settings](https://developer.revolut.com/docs/api/business#tag-accounting), [Expense management](https://developer.revolut.com/docs/api/business#get-expense), [Transactions](https://developer.revolut.com/docs/api/business#get-transactions) \n- Payments: \n  - [Counterparty management](https://developer.revolut.com/docs/api/business#get-counterparties)\n  - Payment management: [Payment drafts](https://developer.revolut.com/docs/api/business#delete-payment-draft), [Payout links](https://developer.revolut.com/docs/api/business#get-payout-link), [Transfers](https://developer.revolut.com/docs/api/business#tag-transfers)\n  - [Foreign exchange](https://developer.revolut.com/docs/api/business#tag-foreign-exchange)\n- Business team: [Card management](https://developer.revolut.com/docs/api/business#delete-card), [Card invitation management](https://developer.revolut.com/docs/api/business#update-card-invitation), [Team member management](https://developer.revolut.com/docs/api/business#delete-team-member)\n- Developer tools: [Sandbox simulations](https://developer.revolut.com/docs/api/business#tag-simulations), [Webhook management](https://developer.revolut.com/docs/api/business#tag-webhooks-v2)\n\nTo see the reference for the specific endpoints and operations of this API, browse the menu on the left.\n\n### Test the Business API\n\nYou can test the Business API in Postman by forking this collection:\n\n[![View in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/revolut-api/workspace/revolut-developers/overview)"
  contact: {}
servers:
- url: https://b2b.revolut.com/api/1.0
  description: Production server (uses live data)
- url: https://sandbox-b2b.revolut.com/api/1.0
  description: Sandbox server (uses test data)
tags:
- name: Orders
  description: 'The Orders resource in the Merchant API offers a comprehensive solution for managing the lifecycle of orders within your e-commerce or retail platform. Designed to streamline order processing, this resource encapsulates a suite of operations that allow for efficiently handling order management-related tasks. For more information about the order lifecycle, see: [Order and payment lifecycle](https://developer.revolut.com/docs/guides/merchant/reference/order-lifecycle).


    These operations are equipped to handle various order management scenarios, providing a robust interface for businesses to interact with their order data.


    To process a payment related to your customers'' purchases, you need to create an `Order` object. Then you can use an order''s unique `token` to process and accept payments via the Revolut Checkout Widget.


    :::warning

    The [Create an order endpoint](https://developer.revolut.com/docs/api/merchant#create-order) was updated to a new version and now returns `token` as the public identifier for the order. Previous integrations might still use the deprecated endpoint returning `public_id`.


    We strongly advise upgrading to the new [Create an order endpoint](https://developer.revolut.com/docs/api/merchant#create-order).

    :::'
paths:
  /api/orders:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version'
    post:
      summary: Create an order
      operationId: createOrder
      description: "Create an `Order` object.\n\nCreating orders is one of the basic operations of the Merchant API. Most of the other operations are related to creating orders. Furthermore, the payment methods merchants can use to take payments for their orders are also built on order creation.\n\nTo learn more about how you can accept payments, see:\n  - [Revolut Pay](https://developer.revolut.com/docs/guides/merchant/accept-payments/online-payments/revolut-pay/introduction)\n  - [Card payments](https://developer.revolut.com/docs/guides/merchant/accept-payments/online-payments/card-payments/introduction)\n  - [Apple Pay and Google Pay](https://developer.revolut.com/docs/guides/merchant/accept-payments/online-payments/apple-pay-google-pay/introduction)\n  - [Pay by Bank](https://developer.revolut.com/docs/guides/merchant/accept-payments/online-payments/pay-by-bank/introduction)\n  - [Revolut Checkout](https://developer.revolut.com/docs/guides/merchant/accept-payments/online-payments/revolut-checkout/introduction)\n  - [Hosted Checkout Page](https://developer.revolut.com/docs/guides/merchant/accept-payments/online-payments/hosted-checkout-page/introduction)\n\n\n### Pre-authorisation and incremental authorisation\n\nOrders can be created with `authorisation_type: pre_authorisation` to enable incremental authorisation. This allows you to increase the authorised amount after the initial authorisation.\n\n**Requirements:**\n- `capture_mode` must be set to `manual`\n- `authorisation_type` must be set to `pre_authorisation`\n\n**Payment method support:**\n\nPre-authorisation orders support card, Apple Pay, and Google Pay only — enforced at the API level and on the hosted checkout page. Revolut Pay account-to-account (A2A) payments, Pay by Bank, and SEPA Direct Debit are not supported for pre-authorisation orders.\n\n**`cancel_authorised_after`:**\n\nFor pre-authorisation orders, `cancel_authorised_after` can be set to a maximum of 30 days (`P30D`). For final authorisation orders, the 7-day maximum (`P7D`) still applies. If omitted, only `capture_deadline` governs expiry.\n\n**Example use cases:**\n- Hotels: authorise deposit, then increment for room service and minibar\n- Car rentals: authorise deposit, then increment for damages or fuel\n\n:::info\nFor more information, see:\n- [Pre-authorisation guide](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/advanced-authorisation/pre-authorisation)\n- [Incremental authorisation guide](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/advanced-authorisation/incremental-authorisation)\n- [Increment authorisation endpoint](https://developer.revolut.com/docs/api/merchant#increment-authorisation)\n:::\n\n<details>\n<summary>Industry-specific requirements</summary>\n\nIf you operate in any of the industries listed below, sharing industry-specific data is mandatory. Not providing the necessary information will result in further scrutiny from Revolut and/or the imposition of risk mitigation actions.\n\n| Industry | Related fields |\n| ------- | --------------- |\n| Retail merchants | `line_items`, `shipping` |\n| Airlines | `industry_data` with `type: airline` |\n| Car rentals | `industry_data` with `type: car_rental` |\n| Hotels & accommodation | `industry_data` with `type: lodging` |\n| Travel agencies (OTAs) | `industry_data` with `type: airline` and `industry_data` with `type: lodging` |\n| Crypto merchants | `industry_data` with `type: crypto` |\n| Event ticket sellers | `industry_data` with `type: event` |\n| Marketplace merchants | `industry_data` with `type: marketplace` |\n\n</details>"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Creation-v7'
            examples:
              example_order_min_params:
                $ref: '#/components/examples/Req-Order-Min'
              example_order_additional:
                $ref: '#/components/examples/Req-Order-Additional-v2'
              example_order_pre_auth:
                $ref: '#/components/examples/Req-Order-Pre-Auth'
              example_order_line_items:
                $ref: '#/components/examples/Req-Order-Line-Items'
              example_order_shipping:
                $ref: '#/components/examples/Req-Order-Shipping'
              example_order_airline:
                $ref: '#/components/examples/Req-Order-Airline-v2'
              example_order_car_rental:
                $ref: '#/components/examples/Req-Order-Car-Rental-v2'
              example_order_crypto:
                $ref: '#/components/examples/Req-Order-Crypto-v3'
              example_order_marketplace:
                $ref: '#/components/examples/Req-Order-Marketplace-v3'
              example_order_event:
                $ref: '#/components/examples/Req-Order-Event-v2'
              example_order_lodging:
                $ref: '#/components/examples/Req-Order-Lodging-v2'
              example_order_multi_industry:
                $ref: '#/components/examples/Req-Order-Multi-Industry'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                example_order_min_params:
                  $ref: '#/components/examples/Res-Order-Min'
                example_order_additional:
                  $ref: '#/components/examples/Res-Order-Additional-v2'
                example_order_pre_auth:
                  $ref: '#/components/examples/Res-Order-Pre-Auth'
                example_order_line_items:
                  $ref: '#/components/examples/Res-Order-Line-Items'
                example_order_shipping:
                  $ref: '#/components/examples/Res-Order-Shipping'
                example_order_airline:
                  $ref: '#/components/examples/Res-Order-Airline-v2'
                example_order_car_rental:
                  $ref: '#/components/examples/Res-Order-Car-Rental-v2'
                example_order_crypto:
                  $ref: '#/components/examples/Res-Order-Crypto-v3'
                example_order_marketplace:
                  $ref: '#/components/examples/Res-Order-Marketplace-v3'
                example_order_event:
                  $ref: '#/components/examples/Res-Order-Event-v2'
                example_order_lodging:
                  $ref: '#/components/examples/Res-Order-Lodging-v2'
                example_order_multi_industry:
                  $ref: '#/components/examples/Res-Order-Multi-Industry'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: bad_request
                message: Could not parse JSON
                timestamp: 1721049596461
          headers: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1721049596461
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
      tags:
      - Orders
      security:
      - Api-Key: []
    get:
      summary: Retrieve an order list
      operationId: retrieveOrderList
      description: 'Get a paginated list of your orders, returned as a wrapped `orders` array.


        The response contains simplified `Order` objects. To get the full details of a specific order, use the [Retrieve an order](https://developer.revolut.com/docs/api/merchant#retrieve-order) endpoint.'
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Customer-Id-Query'
      - $ref: '#/components/parameters/Merchant-Order-Data-Reference'
      - $ref: '#/components/parameters/Order-State-Query'
      - $ref: '#/components/parameters/Location-Id-Query'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders-v2'
              examples:
                list_of_orders:
                  $ref: '#/components/examples/Res-Orders-List-v2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
      tags:
      - Orders
      security:
      - Api-Key: []
  /api/orders/{order_id}:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version'
    - $ref: '#/components/parameters/Order-Id'
    get:
      summary: Retrieve an order
      operationId: retrieveOrder
      description: 'Retrieve the details of an order that has been created. Provide the unique

        order ID, and the corresponding order information is returned.'
      responses:
        '200':
          description: Order retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                example_order_min_params:
                  $ref: '#/components/examples/Res-Order-Min'
                example_order_additional:
                  $ref: '#/components/examples/Res-Order-Additional-v2'
                example_order_pre_auth:
                  $ref: '#/components/examples/Res-Order-Pre-Auth'
                example_order_line_items:
                  $ref: '#/components/examples/Res-Order-Line-Items'
                example_order_subscription:
                  $ref: '#/components/examples/Res-Order-Subscription'
                example_order_shipping:
                  $ref: '#/components/examples/Res-Order-Shipping'
                example_order_airline:
                  $ref: '#/components/examples/Res-Order-Airline-v2'
                example_order_car_rental:
                  $ref: '#/components/examples/Res-Order-Car-Rental-v2'
                example_order_crypto:
                  $ref: '#/components/examples/Res-Order-Crypto-v3'
                example_order_marketplace:
                  $ref: '#/components/examples/Res-Order-Marketplace-v3'
                example_order_event:
                  $ref: '#/components/examples/Res-Order-Event-v2'
                example_order_lodging:
                  $ref: '#/components/examples/Res-Order-Lodging-v2'
                example_order_multi_industry:
                  $ref: '#/components/examples/Res-Order-Multi-Industry'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              examples:
                example-1:
                  value:
                    code: bad_request
                    message: Could not parse JSON
                    timestamp: 1601296792533
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1721049596461
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: not_found
                message: Order with id abfa5bbd-a20c-4a0e-be66-30e733454518 was not found
                timestamp: 1721050063886
      tags:
      - Orders
      security:
      - Api-Key: []
    patch:
      summary: Update an order
      operationId: updateOrder
      description: 'Update the details of an order.


        You can update an order and specific parameters based on the value of the `state` parameter:


        | State parameter value | Modifiable parameters |

        | --------------------- | --------------------- |

        | `pending` | You can modify all listed parameters. |

        | `authorised` | You can modify the following parameters: <br /><br /> <ul><li>`merchant_order_data.reference`</li><li>`description`</li><li>`metadata`</li><li>`shipping`</li><li>`industry_data`</li><li>`cancel_authorised_after` (maximum 30 days (`P30D`) for `pre_authorisation` orders; 7 days (`P7D`) for `final` orders)</li></ul> |

        | `completed` | You can modify the following parameters: <br /><br /> <ul><li>`merchant_order_data.reference`</li><li>`description`</li><li>`metadata`</li><li>`shipping`</li><li>`industry_data`</li></ul> |

        | `processing` | You cannot modify parameters. |


        :::info

        For more information about the order lifecycle, see: [Order and payment lifecycle](https://developer.revolut.com/docs/guides/merchant/reference/order-lifecycle).

        :::'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Update-v7'
            examples:
              example_update_order:
                summary: Example order update
                value:
                  amount: 1000
                  currency: EUR
                  settlement_currency: GBP
                  capture_mode: manual
                  cancel_authorised_after: P3D
                  metadata:
                    example_key: example_value
                  merchant_order_data:
                    url: https://example.com/orders/12345
                  statement_descriptor_suffix: '12345'
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                example_order_updated:
                  summary: Example order update response
                  value:
                    id: 651a941a-02ef-af6f-9b6c-458c652e2c6a
                    token: 0aa685ee-8d86-441d-bedd-3f7fbf41731b
                    type: payment
                    state: pending
                    created_at: '2023-10-02T09:57:46.498026Z'
                    updated_at: '2023-10-02T11:54:46.648414Z'
                    amount: 1000
                    currency: EUR
                    outstanding_amount: 1000
                    settlement_currency: GBP
                    capture_mode: manual
                    cancel_authorised_after: P3D
                    checkout_url: https://checkout.revolut.com/payment-link/0aa685ee-8d86-441d-bedd-3f7fbf41731b
                    metadata:
                      example_key: example_value
                    enforce_challenge: automatic
                    merchant_order_data:
                      url: https://example.com/orders/12345
                    statement_descriptor_suffix: '12345'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: bad_request
                message: Could not parse JSON
                timestamp: 1721049596461
          headers: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1721049596461
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: not_found
                message: Order with id abfa5bbd-a20c-4a0e-be66-30e733454518 was not found
                timestamp: 1721050063886
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: order_invalid_state
                message: Operation cannot be performed because order is in completed state and expected is [pending]
                timestamp: 1721049952145
      tags:
      - Orders
      security:
      - Api-Key: []
  /api/orders/{order_id}/increment-authorisation:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version'
    - $ref: '#/components/parameters/Order-Id'
    post:
      summary: Increment authorisation
      operationId: incrementAuthorisation
      description: 'Increase the authorised amount on a pre-authorised order.


        This operation allows you to increment the authorised amount for orders created with `authorisation_type: pre_authorisation` and `capture_mode: manual`.


        :::note

        Currently, only card payments are supported.

        :::


        ### Common use-cases


        - Hotel additional charges (e.g., minibar, room service)

        - Car rental damage or fuel charges

        - Equipment rental extensions


        ### How it works


        1. Create an order with `capture_mode: manual` and `authorisation_type: pre_authorisation`

        1. Take payment using one of our card payment solutions

        1. When payment/order reaches `authorised` state, you can increment authorised amount

        1. When no more increments are expected, [capture the order](https://developer.revolut.com/docs/api/merchant/2026-03-12#capture-order) to complete the transaction


        :::warning

        - Can only increment orders in `authorised` state

        - Must have `authorisation_type: pre_authorisation` and `capture_mode: manual`

        - Sum of all increment amounts cannot exceed 5x the initial amount

        - Maximum 10 increments per order

        - Process increments sequentially to avoid declines

        - Currently only supported for card payments

        :::


        :::info

        For more information, see: [Incremental authorisation guide](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/advanced-authorisation/incremental-authorisation)

        :::'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incremental-Authorisation-Request'
            examples:
              basic_increment:
                $ref: '#/components/examples/Req-Order-Increment-Auth-Basic'
              increment_with_additional:
                $ref: '#/components/examples/Req-Order-Increment-Auth-Additional'
      responses:
        '200':
          description: Authorization increment initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                increment_in_progress:
                  $ref: '#/components/examples/Res-Order-Increment-Processing'
                increment_authorised:
                  $ref: '#/components/examples/Res-Order-Increment-Authorised'
                increment_declined:
                  $ref: '#/components/examples/Res-Order-Increment-Declined'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              examples:
                invalid_amount:
                  value:
                    code: validation
                    message: 'New amount: 3 should be greater or equal to order amount: 500'
                    timestamp: 1768397646286
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: not_found
                message: Order not found
                timestamp: 1768397646286
        '422':
          description: Unprocessable Entity - Order state doesn't allow increment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              examples:
                invalid_state:
                  summary: Invalid state
                  value:
                    code: bad_state
                    message: No authorised card not present payment found for order 69732536-0379-a2e2-8983-15e7184f8fc6.
                    timestamp: 1768397646286
                invalid_auth_type:
                  summary: Wrong authorisation type
                  value:
                    code: order_invalid_authorisation_type
                    message: Operation cannot be performed for order 697325ca-a9a2-a922-8df5-c603664da5a5 because order authorisation type is final and expected is pre_authorisation
                    timestamp: 1768397646286
      tags:
      - Orders
      security:
      - Api-Key: []
  /api/orders/{order_id}/capture:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version'
    - $ref: '#/components/parameters/Order-Id'
    post:
      summary: Capture an order
      operationId: captureOrder
      description: "This endpoint is used to capture the funds of an existing, uncaptured order. When the payment for an order is authorised, you can capture the order to send it to the processing stage.\n\n:::info\nFor more information about the order and payment lifecycle, see: [Order and payment\nlifecycle](https://developer.revolut.com/docs/guides/merchant/reference/order-lifecycle).\n:::\n\n## Capture modes\n\nWhen you [create an order](https://developer.revolut.com/docs/api/merchant/2026-03-12#create-order), you can choose one of the following capture modes:\n\n  | **Capture mode** | **Description** |\n  | ---------------- | --------------- |\n  | `automatic` | The order is captured automatically after payment authorisation. No further actions are needed. |\n  | `manual` | The order is not captured automatically and stays in `authorised` state. You must manually capture the order using the steps outlined below. |\n\n:::warning\nBy default, uncaptured orders with **final authorisation** (`authorisation_type: final`) remain in `authorised` state for **7 days**. If not captured within this period, the funds are returned to the customer's original payment method.\n\nThe capture deadline can be customised:\n- Use `cancel_authorised_after` parameter when creating an order to set a custom expiry period\n- The effective deadline is the earlier of `cancel_authorised_after` and the card/network clearing window\n- `capture_deadline` is set when the order becomes `authorised` and doesn't change afterwards\n- Use **pre-authorisation** (`authorisation_type: pre_authorisation`) for extended clearing windows (up to 30 days) and incremental authorisation support (see tip below)\n:::\n\n:::tip [Extended clearing windows]\nIf your business requires longer authorisation hold periods (up to 30 days depending on card scheme and MCC), use [pre-authorisation](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/advanced-authorisation/pre-authorisation) instead of standard authorisation. Pre-authorisation also supports [incremental authorisation](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/advanced-authorisation/incremental-authorisation) for variable-amount scenarios.\n:::\n\n### Manual capture\n\nTo capture an order manually, use one of the following methods:\n\n| **Web UI** | **Merchant API** |\n| ---------- | ------------ |\n| <ol><li>Log in to your [Revolut Business portal](https://business.revolut.com).</li><li>Navigate to the **Merchant** tab on the dashboard, and click the **See all** button in the **Transactions** section.</li><li>Select an uncaptured payment, and click **Capture**.</li></ol> | Use the `/capture` endpoint. |\n\n:::info\nFor more information about manually capturing an order, see: [Authorise an amount to capture\nlater](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/capture-later).\n:::\n\n#### Partial capture\n\nYou have the option to capture only a fraction of the full amount. In such cases, the uncaptured portion of the amount will be voided.\n\n:::warning\nThe following limitations apply to manual captures:\n  - An order can only be captured once\n  - Captured amount can't exceed the authorised amount\n  - On Web UI, only capturing full amount is possible\n  - `0` amount captures are not allowed\n  - For partial captures, you can only resend the request with the initial amount\n:::\n\n#### Updating line items at capture\n\nYou can optionally provide `line_items` when capturing an order. This allows you to adjust the final order details at the time of capture, which is useful for scenarios such as:\n- **Partial captures:** Specify which items are being captured when capturing less than the full amount. Line items help accurately reflect which items were captured versus voided (see [Partial capture](#partial-capture) above).\n- **Final adjustments:** Update order details when the delivered items differ from the initial authorisation (e.g., out-of-stock items, substitutions, quantity changes).\n\n:::warning\nIf you provide `line_items` when capturing, they will **overwrite** the original line items provided during order creation or update. Ensure you include all items you want associated with the captured order.\n:::\n\n:::info\nFor a comprehensive guide including use cases and examples, see: [Authorise a payment to capture later](https://developer.revolut.com/docs/guides/merchant/operations/capture-and-settlement/capture-later#update-line-items-at-capture).\n:::\n\n## Idempotency and repeated requests\n\nThe capture operation is idempotent. This means that an order can only be captured once. If you send a capture request more than once:\n\n- The first valid request captures the order and moves it to the processing stage.\n- Any subsequent request with the same capture amount will not recapture funds and behaves like a [Retrieve an order](https://developer.revolut.com/docs/api/merchant/2026-03-12#retrieve-order) request, returning the current order state.\n- A subsequent request with a different capture amount returns an error.\n\n:::info\nUtilising the idempotent nature of this endpoint helps maintain data consistency and prevents duplicate processing of the same order.\n:::"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Capture-v2'
            examples:
              example_minimal:
                $ref: '#/components/examples/Req-Order-Capture-Min'
              example_with_line_items:
                $ref: '#/components/examples/Req-Order-Capture-Line-Items'
      responses:
        '200':
          description: Order captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                captured_order_minimal:
                  $ref: '#/components/examples/Res-Order-Capture-Min'
                captured_order_line_items:
                  $ref: '#/components/examples/Res-Order-Capture-Line-Items'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              examples:
                example-1:
                  value:
                    code: bad_request
                    message: Could not parse JSON
                    timestamp: 1601296792533
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1721049596461
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: not_found
                message: Order with id abfa5bbd-a20c-4a0e-be66-30e733454518 was not found
                timestamp: 1721050063886
      security:
      - Api-Key: []
      tags:
      - Orders
  /api/orders/{order_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version-Optional'
    - $ref: '#/components/parameters/Order-Id'
    post:
      summary: Cancel an order
      operationId: cancelOrder
      description: "Cancel an existing uncaptured order.\n\nYou can only cancel an order that is in one of the following states:\n\n  | Order state | Description |\n  | ----------- | ----------- |\n  | `pending` | The order does not have any successful payment. |\n  | `authorised` | The `capture_mode` of an order is set to `manual` and the customer has made a successful payment. |\n\n:::info\nFor more information about the order lifecycle, see: [Order and payment lifecycle](https://developer.revolut.com/docs/guides/merchant/reference/order-lifecycle).\n:::"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                example_order_min:
                  $ref: '#/components/examples/Res-Order-Cancel-Min'
                example_order_additional:
                  $ref: '#/components/examples/Res-Order-Cancel-Additional-v2'
                example_order_line_items:
                  $ref: '#/components/examples/Res-Order-Cancel-Line-Items'
                example_order_shipping:
                  $ref: '#/components/examples/Res-Order-Cancel-Shipping'
                example_order_airline:
                  $ref: '#/components/examples/Res-Order-Cancel-Airline-v2'
                example_order_crypto:
                  $ref: '#/components/examples/Res-Order-Cancel-Crypto-v3'
                example_order_marketplace:
                  $ref: '#/components/examples/Res-Order-Cancel-Marketplace-v3'
                example_order_event:
                  $ref: '#/components/examples/Res-Order-Cancel-Event-v2'
                example_order_lodging:
                  $ref: '#/components/examples/Res-Order-Cancel-Lodging-v2'
                example_order_multi_industry:
                  $ref: '#/components/examples/Res-Order-Cancel-Multi-Industry'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              examples:
                example-1:
                  value:
                    code: bad_request
                    message: Could not parse JSON
                    timestamp: 1601296792533
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1721049596461
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: not_found
                message: Order with id abfa5bbd-a20c-4a0e-be66-30e733454518 was not found
                timestamp: 1721050063886
      security:
      - Api-Key: []
      tags:
      - Orders
  /api/orders/{order_id}/refund:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version'
    - $ref: '#/components/parameters/Idempotency-Key'
    - $ref: '#/components/parameters/Order-Id'
    post:
      summary: Refund an order
      operationId: refundOrder
      description: 'Issue a refund for a completed order. This operation allows for either a full or partial refund, which will be processed back to the customer''s original payment method.


        - The refund operation generates a new order with `type: refund`. This new order represents a full or partial refund of the original amount paid.

        - Multiple partial refunds can be issued for a single order, given the total refunded amount does not exceed the original order amount.

        - Refund orders will contain `related_order_id` which links to the original order that was refunded.

        - Refunds can only be initiated for orders that are in a `completed` state. Orders in any other state are not eligible for refunds to ensure transaction integrity and to prevent errors.


        :::note

        Consider using the `Idempotency-Key` header to make the refund operation idempotent, preventing duplicate refund processing in cases of multiple submissions.

        :::


        :::info

        For more information see our [Refund payments](https://developer.revolut.com/docs/guides/merchant/operations/refunds) guide.

        :::'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Refund-v2'
            examples:
              refund_with_minimal_params:
                $ref: '#/components/examples/Req-Refund-Min'
              refund_with_additional_params:
                $ref: '#/components/examples/Req-Refund-Additional'
      responses:
        '201':
          description: Refund order successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-v7'
              examples:
                refund_with_minimal_params:
                  $ref: '#/components/examples/Res-Refund-Min'
                refund_with_additional_params:
                  $ref: '#/components/examples/Res-Refund-Additional'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: bad_request
                message: Could not parse JSON
                timestamp: 1750265245422
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1750265245422
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: not_found
                message: Order with id 6852e963-0009-a5a4-9609-50b3addc5425 was not found
                timestamp: 1750265369820
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
      security:
      - Api-Key: []
      tags:
      - Orders
  /api/orders/{order_id}/payments:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Order-Id'
    post:
      summary: Pay for an order
      operationId: payOrder
      description: "Initiate a payment to pay full amount for an order using a customer's saved payment method.\n\n:::note\nThe `/orders/{order_id}/confirm` endpoint has been deprecated. It will be only supported for already existing implementations.\n:::\n\n:::warning\nThis endpoint is part of a new API, pay attention to the different endpoint URL. \n:::\n\nFor more information about how to save and charge payment methods, see: [Charge a customer's saved payment method](https://developer.revolut.com/docs/guides/merchant/optimise-checkout/save-payment-methods/charge-saved-payment-method).\n\nThe following table shows who can initiate payments on saved payment methods (`initiator` parameter), depending on if the payment method was saved for the customer or the merchant (`savedPaymentMethodFor` parameter):\n\n  |                           | `savePaymentMethodFor: customer` | `savePaymentMethodFor: merchant` |\n  | ------------------------- | -------------------------------- | -------------------------------- |\n  | **`initiator: customer`** | Allowed                          | Allowed                          |\n  | **`initiator: merchant`** | Not allowed                      | Allowed                          |\n\n\n:::note\nUsing this endpoint, only merchant initiated payments are supported with Revolut Pay.\n:::\n          \nFor more information about customers' payment methods, see the [Retrieve payment method list of a customer](https://developer.revolut.com/docs/api/merchant#retrieve-payment-method-list) operation."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Saved-Payment-Method'
            examples:
              saved_card_customer:
                summary: Saved card (customer initiator)
                value:
                  saved_payment_method:
                    type: card
                    id: 2b83c23a-650e-40c3-8989-00ee24478738
                    initiator: customer
                    environment:
                      type: browser
                      time_zone_utc_offset: 180
                      color_depth: 48
                      screen_width: 1920
                      screen_height: 1080
                      java_enabled: true
                      challenge_window_width: 640
                      browser_url: https://business.revolut.com
              saved_card_merchant:
                summary: Saved card (merchant initiator)
                value:
                  saved_payment_method:
                    type: card
                    id: 2b83c23a-650e-40c3-8989-00ee24478738
                    initiator: merchant
              revolut_pay:
                summary: Saved Revolut Pay (merchant initiator)
                value:
                  saved_payment_method:
                    type: revolut_pay
                    id: 2b83c23a-650e-40c3-8989-00ee24478738
                    initiator: merchant
      responses:
        '200':
          description: Payment initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Retrieval'
              examples:
                successful_payment_card:
                  summary: Payment authorised (card)
                  value:
                    id: 63c55e04-4208-a43d-9c96-eaee848ffbaf
                    order_id: 63c55df6-1461-a886-b90f-f49d3c370253
                    payment_method:
                      type: card
                      id: 2b83c23a-650e-40c3-8989-00ee24478738
                      brand: mastercard_credit
                      last_four: '1234'
                    state: authorisation_passed
                successful_payment_revolut_pay_account:
                  summary: Payment authorised (Revolut Pay - Revolut account)
                  value:
                    id: 63c55e04-4208-a43d-9c96-eaee848ffbaf
                    order_id: 63c55df6-1461-a886-b90f-f49d3c370253
                    payment_method:
                      type: revolut_pay
                      subtype: revolut_account
                      id: 2b83c23a-650e-40c3-8989-00ee24478738
                    state: authorisation_passed
                successful_payment_revolut_pay_card:
                  summary: Payment authorised (Revolut Pay - card)
                  value:
                    id: 63c55e04-4208-a43d-9c96-eaee848ffbaf
                    order_id: 63c55df6-1461-a886-b90f-f49d3c370253
                    payment_method:
                      type: revolut_pay
                      subtype: card
                      id: 2b83c23a-650e-40c3-8989-00ee24478738
                      brand: visa
                      last_four: '1234'
                    state: authorisation_passed
                three_ds:
                  summary: Saved card payment (3DS challenge)
                  value:
                    id: 5e96b328-4054-41ed-b089-595ccc4d0870
                    order_id: a16718e0-077a-4942-89bc-23ac17a2e14c
                    payment_method:
                      type: card
                      id: 2b83c23a-650e-40c3-8989-00ee24478738
                      brand: mastercard_credit
                      last_four: '1234'
                    state: authentication_challenge
                    authentication_challenge:
                      type: three_ds
                      acs_url: https://example.com
                three_ds_fingerprint:
                  summary: Saved card payment (3DS fingerprint challenge)
                  value:
                    id: 5e96b328-4054-41ed-b089-595ccc4d0870
                    order_id: a16718e0-077a-4942-89bc-23ac17a2e14c
                    payment_method:
                      type: card
                      id: 2b83c23a-650e-40c3-8989-00ee24478738
                      brand: mastercard_credit
                      last_four: '1234'
                    state: authentication_challenge
                    authentication_challenge:
                      type: three_ds_fingerprint
                      fingerprint_url: https://example.com
                      fingerprint_data: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorId:
                    type: string
                    description: 'The ID of the error. You can share this ID with Revolut

                      support for troubleshooting.'
                  timestamp:
                    type: integer
                    description: The date and time the error happened.
              examples:
                example-1:
                  value:
                    errorId: 94b27660-fdda-49ec-8b85-cd46a068ade0
                    timestamp: 1601296792533
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorId:
                    type: string
                    description: 'The ID of the error. You can share this ID with Revolut

                      support for troubleshooting.'
                  timestamp:
                    type: integer
                    description: The date and time the error happened.
                  code:
                    type: integer
              examples:
                example-1:
                  value:
                    errorId: 94b27660-fdda-49ec-8b85-cd46a068ade0
                    timestamp: 1601296792533
                    code: 1024
      security:
      - Api-Key: []
      tags:
      - Orders
    get:
      summary: Retrieve payment list of an order
      operationId: retrievePaymentList
      description: "Retrieve a list of payments for a specific order, based on the order's ID.\n\n:::note\nThis endpoint is part of a new API, pay attention to the different endpoint URL.\n:::\n\nUse this endpoint to retrieve payment details for saved payment methods to make merchant and customer initiated transactions. For more information, see: \n  - [Speed up customer checkout by using saved card details](https://developer.revolut.com/docs/guides/merchant/optimise-checkout/save-payment-methods/checkout-with-saved-card)\n  - [Manage subscriptions](https://developer.revolut.com/docs/guides/merchant/optimise-checkout/save-payment-methods/subscription-management)"
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment-Retrieval'
              examples:
                payment_list:
                  summary: List of payments (failed card attempt, SEPA Direct Debit retry)
                  value:
                  - id: 63dd0e4a-42c4-a1a6-ab2c-6ac9d255ca4b
                    token: 294358bf-3818-49b2-aacc-7ca971f52695
                    order_id: 63dd0e3f-7b84-ab5c-927c-1a06f7c9583a
                    state: declined
                    amount: 100
                    currency: EUR
                    payment_method:
                      type: card
                      card_brand: visa
                      funding: credit
                      card_last_four: '1234'
                  - id: 649adc44-3e86-a832-879c-2f6d0255dd4c
                    token: 8061e645-35e0-42bb-8318-603abaeab7b7
                    order_id: 63dd0e3f-7b84-ab5c-927c-1a06f7c9583a
                    state: declined
                    amount: 100
                    currency: EUR
                    decline_reason: insufficient_funds
                    payment_method:
                      type: revolut_pay
                      subtype: revolut_account
                  - id: 663387f1-1c2e-a295-b143-9f1fb1eec175
                    token: 663387f1-c91e-a464-908a-1cc4548ebc6a
                    order_id: 63dd0e3f-7b84-ab5c-927c-1a06f7c9583a
                    state: pending
                    amount: 100
                    currency: EUR
                    payment_method:
                      type: sepa_direct_debit
                      debtor_iban_last_four: '1234'
                      debtor_name: John Doe
                      mandate_reference: A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: bad_request
                message: Could not parse JSON
                timestamp: 1720528890647
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
              example:
                code: unauthenticated
                message: Authentication failed
                timestamp: 1720528890647
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
                example:
                  code: not_found
                  message: Order with id b8883ab5-964a-4329-aa44-4d3c76cf3f54 was not found
                  timestamp: 1720528890647
      security:
      - Api-Key: []
      tags:
      - Orders
  /orders:
    post:
      tags:
      - Orders
      summary: Place order
      operationId: placeOrder
      description: 'Place a new order.

        The user is resolved by the provided API key.


        :::note

        Rate limit for limit orders: 1000 requests/day.

        :::'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      requestBody:
        required: true
        description: Order placement details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPlacementRequest'
            examples:
              LimitOrderByBaseSize:
                summary: Limit order by base size with execution instructions
                $ref: '#/components/examples/LimitOrderByBaseSizeExample'
              LimitOrderByQuoteSize:
                summary: Limit order by quote size
                $ref: '#/components/examples/LimitOrderByQuoteSizeExample'
              MarketOrderByQuoteSize:
                summary: Market order by quote size
                $ref: '#/components/examples/MarketOrderByQuoteSizeExample'
      responses:
        '200':
          description: 'OK


            The successfully placed order details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPlacementResponse'
              examples:
                OrderPlacementResponse:
                  summary: Order placement response
                  $ref: '#/components/examples/OrderPlacementResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
      - Orders
      summary: Cancel all active orders
      operationId: cancelAllOrders
      description: Cancels all open limit, conditional, and Take Profit/Stop Loss (TPSL) orders associated with the authenticated account.
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      responses:
        '204':
          description: OK - Orders cancelled successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
  /orders/active:
    get:
      tags:
      - Orders
      summary: Get active orders
      operationId: getActiveOrders
      description: 'Get active crypto exchange orders for the requesting user.

        The user is resolved by the provided API key.'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      - name: symbols
        in: query
        description: Filter active orders by specific currency pairs (comma-separated).
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        example: BTC-USD,ETH-USD
      - name: order_states
        in: query
        description: Filter orders by one or more specific states.
        schema:
          type: array
          items:
            type: string
            enum:
            - pending_new
            - new
            - partially_filled
        style: form
        explode: false
        example: new,partially_filled
      - name: order_types
        in: query
        description: Filter orders by specific types (comma-separated).
        schema:
          type: array
          items:
            type: string
            enum:
            - limit
            - conditional
            - tpsl
        style: form
        explode: false
        example: limit,conditional
      - name: side
        in: query
        description: Filter by order direction (Buy or Sell).
        schema:
          type: string
          enum:
          - buy
          - sell
        example: buy
      - name: cursor
        in: query
        description: Pagination cursor obtained from the [`metadata.next_cursor`](https://developer.revolut.com/docs/api/revolut-x-crypto-exchange#get-active-orders#response) property of the previous response.
        schema:
          type: string
          example: ZGF0ZT0xNzY0OTMxNTAyODU0O2lkPTM3YjExMWJlLTcwMzYtNGYzNC1hYWYyLTM4ZDVjYTEyN2M1Yw==
      - name: limit
        in: query
        description: Maximum number of records to return.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 300
          default: 300
          example: 100
      responses:
        '200':
          description: 'OK


            The list of active orders.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveOrdersPaginatedResponse'
              examples:
                ActiveOrdersPaginatedResponse:
                  summary: Active orders paginated response
                  $ref: '#/components/examples/ActiveOrdersPaginatedResponseExample'
                ActiveTpslOrdersPaginatedResponse:
                  summary: Active orders paginated response with tpsl order
                  $ref: '#/components/examples/ActiveTpslOrdersPaginatedResponseExample'
                ActiveConditionalOrdersPaginatedResponse:
                  summary: Active orders paginated response with conditional order
                  $ref: '#/components/examples/ActiveConditionalOrdersPaginatedResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
  /orders/historical:
    get:
      tags:
      - Orders
      summary: Get historical orders
      operationId: getHistoricalOrders
      description: 'Get historical crypto exchange orders for the requesting user.

        The user is resolved by the provided API key.'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      - name: symbols
        in: query
        description: Filter historical orders by specific currency pairs (comma-separated).
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        example: BTC-USD,ETH-USD
      - name: order_states
        in: query
        description: Filter orders by one or more specific states.
        schema:
          type: array
          items:
            type: string
            enum:
            - filled
            - cancelled
            - rejected
            - replaced
        style: form
        explode: false
        example: filled,rejected
      - name: order_types
        in: query
        description: Filter orders by specific types (comma-separated).
        schema:
          type: array
          items:
            type: string
            enum:
            - market
            - limit
            - conditional
            - tpsl
        style: form
        explode: false
        example: market,limit
      - $ref: '#/components/parameters/StartDateQueryParam'
      - $ref: '#/components/parameters/EndDateQueryParam'
      - name: cursor
        in: query
        description: Pagination cursor obtained from the [`metadata.next_cursor`](https://developer.revolut.com/docs/api/revolut-x-crypto-exchange#get-historical-orders#response) property of the previous response.
        schema:
          type: string
          example: ZGF0ZT0xNzY0OTMxNTAyODU0O2lkPTM3YjExMWJlLTcwMzYtNGYzNC1hYWYyLTM4ZDVjYTEyN2M1Yw==
      - name: limit
        in: query
        description: Maximum number of records to return.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1900
          default: 1900
          example: 1000
      responses:
        '200':
          description: 'OK


            The list of historical orders.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalOrdersPaginatedResponse'
              examples:
                HistoricalOrdersPaginatedResponse:
                  summary: Historical orders paginated response
                  $ref: '#/components/examples/HistoricalOrdersPaginatedResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
  /orders/{venue_order_id}:
    get:
      tags:
      - Orders
      summary: Get order by ID
      operationId: getOrder
      description: 'Retrieve specific order details by ID.

        The user context is resolved based on the provided API key.'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      - name: venue_order_id
        in: path
        required: true
        description: Unique identifier (UUID) of the venue order.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK - Order details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OrderDetails'
                required:
                - data
              examples:
                OrderResponse:
                  $ref: '#/components/examples/OrderDetails'
                TpslOrderResponse:
                  $ref: '#/components/examples/TpslOrder'
                ConditionalOrderResponse:
                  $ref: '#/components/examples/ConditionalOrder'
                TriggeredOrderResponse:
                  $ref: '#/components/examples/TriggeredOrder'
                OrderWithOnFillResponse:
                  $ref: '#/components/examples/OrderWithOnFill'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
      - Orders
      summary: Cancel order by ID
      operationId: cancelOrder
      description: Cancel an active order by its Venue ID.
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      - name: venue_order_id
        in: path
        required: true
        description: Unique identifier (UUID) of the venue order.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: OK - Order deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
    put:
      tags:
      - Orders
      summary: Replace order
      operationId: replaceOrder
      description: 'Replace an existing order.

        The user is resolved by the provided API key.


        :::note

        Venue order id of the order will be updated as well.

        :::'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      - name: venue_order_id
        in: path
        required: true
        description: Unique identifier (UUID) of the venue order to replace.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        description: Order replacement details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderReplacementRequest'
            examples:
              ReplaceOrderExample:
                summary: Order replace with multiple params
                $ref: '#/components/examples/ReplaceOrderExample'
              ReplaceOrderExampleSingleParam:
                summary: Order replace with single param
                $ref: '#/components/examples/ReplaceOrderExampleSingleParam'
      responses:
        '200':
          description: 'OK


            The successfully replaced order details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderReplacementResponse'
              examples:
                OrderPlacementResponse:
                  summary: Order replacement response
                  $ref: '#/components/examples/OrderReplacementResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
  /orders/fills/{venue_order_id}:
    get:
      tags:
      - Orders
      summary: Get fills of order by ID
      operationId: getOrderFills
      description: 'Retrieves the fills (trades) associated with a specific order belonging to the client.

        The user context is resolved based on the provided API key.'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      - name: venue_order_id
        in: path
        required: true
        description: Unique identifier (UUID) of the venue order
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK - Order fills retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientTrade'
                required:
                - data
              examples:
                OrderFillsResponse:
                  summary: Order fills Response
                  $ref: '#/components/examples/OrderFillsResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Payment-Retrieval:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Payment-Id'
        order_id:
          $ref: '#/components/schemas/Order-Id'
        payment_method:
          type: object
          description: The payment method used to pay for the order.
          discriminator:
            propertyName: type
            mapping:
              revolut_pay: '#/components/schemas/Revolut-Pay'
              card: '#/components/schemas/Card-For-Payment-Details'
              sepa_direct_debit: '#/components/schemas/Sepa-Direct-Debit'
          oneOf:
          - $ref: '#/components/schemas/Revolut-Pay'
          - $ref: '#/components/schemas/Card-For-Payment-Details'
          - $ref: '#/components/schemas/Sepa-Direct-Debit'
        token:
          $ref: '#/components/schemas/Payment-Token'
        amount:
          $ref: '#/components/schemas/Payment-Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        state:
          $ref: '#/components/schemas/Payment-State-v2'
        decline_reason:
          $ref: '#/components/schemas/Decline-Reason-v2'
        authentication_challenge:
          $ref: '#/components/schemas/Authentication-Challenge'
      required:
      - id
      - order_id
      - payment_method
    Full-Name:
      type: string
      description: The full name of the customer.
    Merchant-Order-Url:
      type: string
      format: uri
      pattern: ^https?:\/{2}.+/gi
      maxLength: 2000
      description: 'The URL of the order stored in the merchant''s order management system.


        This URL will be included in the order confirmation email for payments made via Revolut Pay. If specified, this URL will override the default link to the merchant''s **Business website** configured in the Revolut Business account.


        :::warning

        Restrictions:

        - Must be a valid URI as defined by [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986)

        - URI scheme is required and must be either `http` or `https`

        - URI host is required and cannot be `localhost` or an IP address

        - Max length: `2000`

        - Reserved or invalid characters must be percent-encoded (for example, use `%20` instead of a space)

        :::'
    Marketplace-v3:
      type: object
      description: 'This object is required by Mastercard and Visa for merchants operating as marketplaces under the Merchant Category Code (MCC) `5262`. The marketplace object ensures compliance with the card schemes'' regulations by providing detailed information about the seller involved in the transaction.


        :::info

        These are the specific data field requirements for merchants who must provide marketplace data.


        ```

        seller.id

        seller.name

        seller.website

        seller.phone

        seller.address

        ```

        :::'
      properties:
        seller:
          type: object
          description: Information about the subseller on the marketplace platform.
          properties:
            id:
              type: string
              description: The ID of the seller in the merchant's internal system.
              minLength: 1
              maxLength: 15
            name:
              type: string
              description: The business or legal name of the seller.
              minLength: 1
              maxLength: 50
            website:
              type: string
              format: uri
              pattern: ^https?:\/{2}.+/gi
              maxLength: 255
              description: 'The URL of the website of the seller.


                :::warning

                Restrictions:

                - Must be a valid URI as defined by [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986)

                - URI scheme is required and must be either `http` or `https`

                - URI host is required and cannot be `localhost` or an IP address

                - Max length: `255`

                - Reserved or invalid characters must be percent-encoded (for example, use `%20` instead of a space)

                :::'
            phone:
              type: string
              description: The phone number of the seller.
            address:
              $ref: '#/components/schemas/Address-v4'
          required:
          - id
          - name
          - website
          - phone
          - address
      required:
      - seller
    Revolut-Pay-Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: 'ID of the saved payment method.


            :::note

            The `id` parameter is only returned when the payment method is saved.

            :::'
        type:
          $ref: '#/components/schemas/Payment-Method-Type'
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
      required:
      - type
    Sepa-Direct-Debit:
      type: object
      description: 'Object containing details of a SEPA Direct Debit payment.


        :::info

        For more information, see: [SEPA Direct Debit server-to-server integration](https://developer.revolut.com/docs/guides/merchant/accept-payments/payment-methods/sepa-direct-debit/server-to-server)

        :::'
      properties:
        id:
          type: string
          format: uuid
          description: 'ID of the saved payment method.


            :::note

            The `id` parameter is only returned when the payment method is saved for the merchant.

            :::'
        type:
          $ref: '#/components/schemas/Payment-Method-Type'
        debtor_iban_last_four:
          $ref: '#/components/schemas/Sepa-Direct-Debit-Debtor-Iban-Last-Four'
        debtor_name:
          $ref: '#/components/schemas/Sepa-Direct-Debit-Debtor-Name'
        mandate_reference:
          $ref: '#/components/schemas/Sepa-Direct-Debit-Mandate-Reference'
      required:
      - type
    Customer-v2:
      type: object
      description: "Object containing information about a customer.\n\nIf you have it, we strongly advise providing at least either `id`, `phone`, or `email`.\n\nUsing the [Customers operations](https://developer.revolut.com/docs/api/merchant#tag-customers), you can manage customer instances.\n\nThe following behaviours apply to different use cases:\n\n  | Use case | API behavior |\n  | -------- | ------------ |\n  | Existing customer | If `id` was provided, we ignore other customer details and associate the customer with the order.<br/><br/>If either `email`, `phone`, or `full_name` was provided (without an existing customer's `id`), we always create a new customer, irrespective of another, existing customer object having the same details. |\n  | New customer | If either `email`, `phone`, or `full_name` was provided, we create a new customer, irrespective of another customer object having the same details. <br/><br/>If `id` of a non-existent customer was provided, we return a `404` error, irrespective of other details provided. |\n\n:::note\nTo avoid unintentional duplication of customer records, search for an existing customer by email or phone using the [List customers](https://developer.revolut.com/docs/api/merchant#retrieve-customer-list) endpoint first, then provide `customer.id` in the order.\n:::"
      properties:
        id:
          type: string
          format: uuid
          description: 'Permanent ID of a customer used to retrieve, update, delete a customer. This ID can also be used to link customer to an order.


            :::note

            If you provide the customer''s ID during order creation, no other customer data is required, they will be parsed automatically from the referenced customer object.

            :::'
        full_name:
          $ref: '#/components/schemas/Full-Name'
        phone:
          $ref: '#/components/schemas/Phone'
        email:
          $ref: '#/components/schemas/Email'
        date_of_birth:
          $ref: '#/components/schemas/Date-Of-Birth'
    Card-Checks-v2:
      type: object
      description: The details of the check for card payment. Only for orders with successful payments.
      properties:
        three_ds:
          type: object
          description: 'The details of the 3D Secure check. Only for orders with successful payments.


            :::note

            Not returned for Apple Pay and Google Pay payments.

            :::'
          properties:
            eci:
              type: string
              description: The Electronic Commerce Indicator (ECI) value corresponds to the authentication result and indicates the level of security used when the payment information was provided.
            state:
              type: string
              description: The result of 3D Secure check.
              enum:
              - verified
              - failed
              - challenge
            version:
              type: integer
              description: The 3D Secure version.
        cvv_verification:
          type: string
          description: 'The result of CVV verification.


            | Parameter value | Description |

            | ----- | ----------- |

            | `match` | CVV matches the card''s CVV |

            | `not_match` | CVV does not match the card''s CVV |

            | `incorrect` | CVV format is incorrect for this type of card |

            | `not_processed` | CVV verification was not performed |'
          enum:
          - match
          - not_match
          - incorrect
          - not_processed
        address:
          type: string
          description: The result of address verification.
          enum:
          - match
          - not_match
          - n_a
          - invalid
        postcode:
          type: string
          description: The result of postcode verification.
          enum:
          - match
          - not_match
          - n_a
          - invalid
        cardholder:
          type: string
          description: The result of cardholder verification.
          enum:
          - match
          - not_match
          - n_a
          - invalid
    Payment-Updated:
      type: string
      format: date-time
      description: The date and time the payment was last updated.
    Decline-Reason-v2:
      type: string
      description: 'The reason for a `failed` or `declined` payment.


        A failed or declined payment can result from multiple reasons. To learn more, check our [failure reasons](https://developer.revolut.com/docs/guides/merchant/reference/error-codes/decline-reasons).'
      enum:
      - 3ds_challenge_abandoned
      - 3ds_challenge_failed_manually
      - cardholder_name_missing
      - customer_challenge_abandoned
      - customer_challenge_failed
      - customer_name_mismatch
      - do_not_honour
      - expired_card
      - high_risk
      - insufficient_funds
      - invalid_address
      - invalid_amount
      - invalid_card
      - invalid_country
      - invalid_cvv
      - invalid_email
      - invalid_expiry
      - invalid_merchant
      - invalid_phone
      - invalid_pin
      - issuer_not_available
      - pick_up_card
      - rejected_by_customer
      - restricted_card
      - suspected_fraud
      - technical_error
      - transaction_not_allowed_for_cardholder
      - unknown_card
      - withdrawal_limit_exceeded
    OrderReplacementRequest:
      type: object
      description: 'Request to replace an existing open order with a new one, atomically cancelling the original.

        Only the fields provided in the request are updated; omitted fields are inherited from the original order

        (with the exception of sizes, which may be recalculated to preserve the counter-side amount — see field docs).'
      required:
      - client_order_id
      properties:
        client_order_id:
          type: string
          format: uuid
          description: 'Client-generated unique identifier for the replacement request, used to guarantee idempotency.

            Retries with the same value will not create duplicate replacements.'
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        base_size:
          type: string
          format: decimal
          description: 'New amount of base currency for the replacement order.

            If only the price is provided, without the quantity or amount, this parameter will stay the same for SELL orders and be recalculated for BUY orders.'
          example: '0.1'
        quote_size:
          type: string
          format: decimal
          description: 'New amount of quote currency for the replacement order.

            If only the price is provided, without the quantity or amount, this parameter will stay the same for BUY orders and be recalculated for SELL orders.'
          example: '0.1'
        price:
          type: string
          format: decimal
          description: 'New limit price for the replacement order.

            If omitted, the original order''s price is preserved.'
          example: '50000.50'
        time_in_force:
          type: string
          enum:
          - gtc
          - ioc
          description: 'New time in force for the replacement order.

            If omitted, the original order''s time in force is preserved.'
        execution_instructions:
          type: array
          description: 'Execution instructions applied to the replacement order, overriding those of the original.

            Pass an empty array `[]` to explicitly clear all instructions.

            If the field is omitted entirely, the original order''s instructions are preserved.'
          minItems: 0
          items:
            type: string
            enum:
            - allow_taker
            - post_only
          example:
          - allow_taker
    Three-Ds-Fingerprint:
      title: three_ds_fingerprint
      type: object
      description: Information about the 3DS fingerprint challenge.
      properties:
        type:
          $ref: '#/components/schemas/Authentication-Challenge-Type'
        fingerprint_url:
          type: string
          format: url
          description: The URL of the fingerprint. (Used only internally by Revolut.)
        fingerprint_data:
          type: string
          format: JSON
          description: 'Data about the fingerprint used for authentication. (Used only internally

            by Revolut.)'
      required:
      - type
      - fingerprint_url
      - fingerprint_data
    Payment-Risk-Level:
      type: string
      description: 'The risk level of the card.


        If the risk level is `high`, the payment might be declined.'
      enum:
      - low
      - high
    MarketOrderConfiguration:
      type: object
      description: Market order configuration. Must contain exactly one of 'base_size' or 'quote_size'.
      properties:
        base_size:
          type: string
          format: decimal
          description: Amount of base currency.
          example: '0.1'
        quote_size:
          type: string
          format: decimal
          description: Amount of quote currency.
          example: '0.1'
    Fees:
      type: array
      description: The details of the order fee.
      items:
        $ref: '#/components/schemas/Fee'
    Order-Creation-v7:
      type: object
      description: Object schema containing information about order creation body request parameters.
      properties:
        amount:
          $ref: '#/components/schemas/Order-Amount-v2'
        currency:
          $ref: '#/components/schemas/Currency'
        settlement_currency:
          $ref: '#/components/schemas/Settlement-Currency'
        description:
          $ref: '#/components/schemas/Order-Description'
        customer:
          $ref: '#/components/schemas/Customer-v2'
        enforce_challenge:
          $ref: '#/components/schemas/Enforce-Challenge-v2'
        line_items:
          $ref: '#/components/schemas/Line-Items'
        shipping:
          $ref: '#/components/schemas/Shipping'
        capture_mode:
          $ref: '#/components/schemas/Capture-Mode-v2'
        authorisation_type:
          $ref: '#/components/schemas/Authorisation-Type'
        cancel_authorised_after:
          $ref: '#/components/schemas/Cancel-Authorised-After-v2'
        expire_pending_after:
          $ref: '#/components/schemas/Expire-Pending-After'
        location_id:
          $ref: '#/components/schemas/Location-Id'
        metadata:
          $ref: '#/components/schemas/Metadata'
        industry_data:
          $ref: '#/components/schemas/Industry-Data-v3'
        merchant_order_data:
          $ref: '#/components/schemas/Merchant-Order-Data'
        upcoming_payment_data:
          $ref: '#/components/schemas/Upcoming-Payment'
        redirect_url:
          $ref: '#/components/schemas/Redirect-Url'
        statement_descriptor_suffix:
          $ref: '#/components/schemas/Statement-Descriptor-Suffix'
      required:
      - amount
      - currency
    Lodging-Category:
      type: string
      enum:
      - bed_and_breakfast
      - hostel
      - hotel
      - short_term_rental
      - other
      description: The type of the accommodation associated with the booking.
    Journey-Legs:
      type: array
      description: "Array containing information of journey legs associated with the booking.\n\n:::info\nThis field is required for activating **Revolut Flight Alerts** functionalities within the Revolut app. \n\nThis information is used to compile a tracking widget that provides real-time updates on flight status and sends notifications, such as a check-in reminders, boarding alerts, and notifications for cancellations or delays. \n\nTo enable the widget the following fields are required on order creation or update, before capturing the order:\n\n  ```\n  sequence,\n  departure_airport_code,\n  arrival_airport_code,\n  flight_number,\n  travel_date,\n  airline_name,\n  airline_code,\n  ```\n:::"
      items:
        $ref: '#/components/schemas/Journey-Leg'
    Lodging-Location:
      type: object
      description: Address of the accommodation.
      properties:
        street_line_1:
          type: string
          description: Primary address line.
          maxLength: 100
        street_line_2:
          type: string
          description: Secondary address line, such as floor and apartment number.
          maxLength: 100
        region:
          type: string
          description: State or province of the address.
          maxLength: 100
        city:
          type: string
          description: City of the address.
          maxLength: 100
        country_code:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 2-letter country code.
          minLength: 2
          maxLength: 2
        postcode:
          type: string
          description: Postal code of the address.
          maxLength: 100
      required:
      - street_line_1
      - city
      - country_code
      - postcode
    Apple-Pay:
      type: object
      description: Object containing details of a card used via Apple Pay.
      properties:
        id:
          type: string
          format: uuid
          description: 'ID of the saved payment method.


            :::note

            The `id` parameter is only returned when the payment method is saved.

            :::'
        type:
          $ref: '#/components/schemas/Payment-Method-Type'
        card_brand:
          type: string
          description: The type of the card.
          enum:
          - visa
          - mastercard
          - american_express
        funding:
          type: string
          description: The type of card funding.
          enum:
          - credit
          - debit
          - prepaid
        card_country_code:
          type: string
          description: The 2-letter country code of the country where the card was issued.
        card_bin:
          type: string
          description: The BIN of the card.
          minLength: 6
          maxLength: 6
        card_last_four:
          type: string
          description: The last four digits of the card number.
          minLength: 4
          maxLength: 4
        card_expiry:
          type: string
          format: MM/YY
          description: The expiry date of the card in the format of MM/YY.
        cardholder_name:
          type: string
          description: The name of the cardholder.
        checks:
          $ref: '#/components/schemas/Card-Checks-v2'
        authorisation_code:
          $ref: '#/components/schemas/Authorisation-Code'
        arn:
          $ref: '#/components/schemas/Arn'
        capture_deadline:
          $ref: '#/components/schemas/Capture-Deadline'
        terminal_hardware_id:
          $ref: '#/components/schemas/Terminal-Hardware-Id'
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
        network_transaction_id:
          $ref: '#/components/schemas/Network-Transaction-Id'
      required:
      - type
    Outstanding-Amount:
      type: integer
      description: "The amount not yet paid for a given order (in minor currency units). For example, `7034` represents €70.34. \n\nThe value in this field may differ from `amount` if there are partial payments associated with the order."
    Event:
      type: object
      description: 'Object containing booking information about a specific event. '
      properties:
        start_date:
          type: string
          format: date-time
          description: '[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time when the event starts.'
        end_date:
          type: string
          format: date-time
          description: '[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time when the event ends.'
        supplier:
          type: string
          description: Legal name of the ticket vendor/event organiser.
        supplier_payment_date:
          $ref: '#/components/schemas/Supplier-Payment-Date'
        name:
          type: string
          description: The name of the event.
        location:
          type: object
          description: The address of the event location.
          properties:
            street_line_1:
              type: string
              description: Primary address line.
              maxLength: 100
            street_line_2:
              type: string
              description: Secondary address line, such as floor and apartment number.
              maxLength: 100
            region:
              type: string
              description: State or province of the address.
              maxLength: 100
            city:
              type: string
              description: City of the address.
              maxLength: 100
            country_code:
              type: string
              pattern: ^[A-Z]{2}$
              description: ISO 2-letter country code.
              minLength: 2
              maxLength: 2
            postcode:
              type: string
              description: Postal code of the address.
              maxLength: 100
          required:
          - street_line_1
          - city
          - country_code
          - postcode
        category:
          type: string
          enum:
          - concert
          - conference
          - convention
          - exhibition
          - festival
          - party
          - performance
          - other
          description: The type of the event.
        market:
          type: string
          enum:
          - primary
          - secondary
          description: "Indicates the relationship between the ticket vendor and the event organiser. \n\n| Parameter value | Description |\n| --------------- | ----------- |\n| `primary`       | The merchant is the organiser and primary distributor of the tickets. |\n| `secondary`     | The merchant is a reseller, only distributing the tickets. |"
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
          description: A list of tickets associated with the booking.
    Payment-Authorised-Amount:
      type: integer
      description: 'The currently authorised amount for this payment (in minor units).


        For pre-authorised payments with incremental authorization:

        - Initially equals the `amount` field

        - Remains unchanged during increment processing

        - Updates to new amount upon successful increment

        - Remains at original amount if increment is declined


        For standard payments, this field may not be present or will equal the `amount` field.'
      example: 600
    Customer-Id:
      type: string
      format: uuid
      description: Unique identifier for the customer.
    Payment-Created:
      type: string
      format: date-time
      description: The date and time the payment was created.
    Refundability:
      type: string
      enum:
      - refundable
      - non_refundable
      - partially_refundable
      description: Parameter indicating whether the booking is refundable, partially refundable, or not refundable.
    Passenger:
      type: object
      properties:
        first_name:
          type: string
          description: Passenger's first name.
        last_name:
          type: string
          description: Passenger's last name.
      required:
      - first_name
      - last_name
    Incremental-Authorisation-Request:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Increment-Amount'
        reference:
          $ref: '#/components/schemas/Increment-Reference'
        line_items:
          $ref: '#/components/schemas/Line-Items'
      required:
      - amount
    Order-Id:
      type: string
      format: uuid
      description: Permanent order ID used to retrieve, capture, cancel, or refund an order after authorization.
    RPay-Account:
      properties:
        type:
          type: string
          enum:
          - card
          - revolut_pay
          description: The type of payment method used to pay for the order.
        subtype:
          type: string
          enum:
          - revolut_account
          - card
          description: Indicates whether the customer used their card or Revolut account via Revolut Pay.
        id:
          type: string
          format: uuid
          description: 'ID of the saved payment method.


            :::note

            The `id` parameter is only returned if the payment method is saved.

            :::'
      required:
      - type
      - subtype
    Capture-Deadline:
      type: string
      format: date-time
      description: 'The date and time by which the payment must be captured.


        After this deadline, the authorised funds may be automatically released by the card issuer.'
    Guests:
      type: array
      items:
        $ref: '#/components/schemas/Guest'
      description: List of guests associated with the booking.
    Date-Of-Birth:
      type: string
      format: date
      description: The birth date of the customer.
    Payment-Settled-Amount:
      type: integer
      description: The amount of the settled payment (minor currency unit). For example, `7034` stands for €70.34.
    Order-v7:
      title: Order v7
      type: object
      description: To process the order from a credit or debit card, you create an `Order` object. You can then retrieve, capture, cancel, refund, or pay an order using its unique `id`. Alternatively, you can use its unique `token` to process a card payment with the Revolut Checkout Widget.
      properties:
        id:
          $ref: '#/components/schemas/Order-Id'
        token:
          $ref: '#/components/schemas/Order-Token'
        type:
          $ref: '#/components/schemas/Order-Type-v2'
        state:
          $ref: '#/components/schemas/Order-State'
        created_at:
          type: string
          description: The date and time the order was created.
          format: date-time
        updated_at:
          type: string
          description: The date and time the order was last updated.
          format: date-time
        description:
          $ref: '#/components/schemas/Order-Description'
        capture_mode:
          $ref: '#/components/schemas/Capture-Mode-v2'
        authorisation_type:
          $ref: '#/components/schemas/Authorisation-Type'
        cancel_authorised_after:
          $ref: '#/components/schemas/Cancel-Authorised-After'
        amount:
          $ref: '#/components/schemas/Order-Amount-v2'
        outstanding_amount:
          $ref: '#/components/schemas/Outstanding-Amount'
        refunded_amount:
          $ref: '#/components/schemas/Refunded-Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        settlement_currency:
          $ref: '#/components/schemas/Settlement-Currency'
        customer:
          $ref: '#/components/schemas/Customer-v2'
        payments:
          type: array
          description: The details of all the payments that have been made towards this order (successful or unsuccessful).
          items:
            $ref: '#/components/schemas/Payment-v3'
        incremental_authorisations:
          $ref: '#/components/schemas/Incremental-Authorisations'
        location_id:
          $ref: '#/components/schemas/Location-Id'
        metadata:
          $ref: '#/components/schemas/Metadata'
        industry_data:
          $ref: '#/components/schemas/Industry-Data-v3'
        merchant_order_data:
          $ref: '#/components/schemas/Merchant-Order-Data'
        upcoming_payment_data:
          $ref: '#/components/schemas/Upcoming-Payment'
        checkout_url:
          $ref: '#/components/schemas/Checkout-Url'
        redirect_url:
          $ref: '#/components/schemas/Redirect-Url'
        shipping:
          $ref: '#/components/schemas/Shipping'
        enforce_challenge:
          $ref: '#/components/schemas/Enforce-Challenge-v2'
        line_items:
          $ref: '#/components/schemas/Line-Items'
        statement_descriptor_suffix:
          $ref: '#/components/schemas/Statement-Descriptor-Suffix'
        related_order_id:
          $ref: '#/components/schemas/Related-Order-Id'
        subscription_data:
          $ref: '#/components/schemas/Subscription-Data'
    Incremental-Authorisation:
      type: object
      description: 'Represents a single incremental authorisation attempt on an order.


        The `incremental_authorisations` array tracks all increment attempts (successful and failed) in chronological order.'
      properties:
        new_amount:
          type: integer
          description: The new total amount requested in this increment (in minor units).
          example: 600
        old_amount:
          type: integer
          description: The previously authorised amount before this increment (in minor units).
          example: 500
        state:
          type: string
          enum:
          - pending
          - processing
          - authorised
          - declined
          - failed
          description: 'The state of this incremental authorization attempt.


            | State | Description |

            |-------|-------------|

            | `pending` | Increment registered in system, not yet submitted to card network |

            | `processing` | Increment is being processed by card network |

            | `authorised` | Increment was successfully authorised |

            | `declined` | Increment was declined by card issuer |

[...]
