openapi: 3.2.0
info:
  version: 1.0.0
  title: Revolut X Crypto Exchange REST Balance API
  description: As a Revolut X customer, you can use the Revolut X REST API to streamline your trading experience.
  contact: {}
servers:
- url: https://revx.revolut.com/api/1.0
  description: Production server (uses live data)
- url: https://revx.revolut.codes/api/1.0
  description: Dev server (uses test data)
security:
- ApiKey: []
tags:
- name: Balance
  description: Get your Revolut X crypto exchange balances, including both crypto and fiat.
paths:
  /balances:
    get:
      tags:
      - Balance
      summary: Get all balances
      operationId: getAllBalances
      description: 'Get crypto exchange account balances for the requesting user.

        The user is resolved by the provided API key.'
      parameters:
      - $ref: '#/components/parameters/XRevxTimestamp'
      - $ref: '#/components/parameters/XRevxSignature'
      responses:
        '200':
          description: 'OK


            The list of available balances.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
              examples:
                AccountBalanceExample:
                  summary: Balances response
                  $ref: '#/components/examples/AccountBalanceExample'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        5XX:
          $ref: '#/components/responses/ServerError'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: API key can only be used for authentication from whitelisted IP
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Request timestamp is in the future
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Forbidden
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
    RateLimitExceeded:
      description: Rate Limit Exceeded
      headers:
        Retry-After:
          description: The number of milliseconds to wait before making a new request.
          schema:
            type: integer
            example: 5000
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Rate Limit Exceeded
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
    ServerError:
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Something went wrong!
            error_id: 7d85b5e7-d0f0-4696-b7b5-a300d0d03a5e
            timestamp: 3318215482991
  schemas:
    AccountBalanceEntry:
      type: object
      properties:
        currency:
          type: string
          description: Currency.
          example: BTC
        available:
          type: string
          format: decimal
          description: Available (free) funds amount. Returned as a string to prevent rounding errors.
          example: '1000.0000'
        staked:
          type: string
          format: decimal
          description: "Staked funds currently earning rewards. \nReturned as a string to prevent floating-point rounding errors."
          example: '2000.5000'
        reserved:
          type: string
          format: decimal
          description: Reserved (locked) funds amount. Returned as a string to prevent rounding errors.
          example: '234.5000'
        total:
          type: string
          format: decimal
          description: Sum of available, reserved, and staked funds. Returned as a string to avoid floating-point rounding errors.
          example: '1234.5000'
      required:
      - currency
      - available
      - reserved
      - total
      example:
        currency: BTC
        available: '1000.00000000'
        reserved: '234.50000000'
        total: '1234.50000000'
    AccountBalance:
      type: array
      items:
        $ref: '#/components/schemas/AccountBalanceEntry'
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
      - error_id
      - message
      - timestamp
      properties:
        error_id:
          type: string
          format: uuid
          description: Unique identifier for this specific error occurrence.
        message:
          type: string
          description: Human-readable description of the error.
        timestamp:
          type: integer
          format: int64
          description: The time the error occurred in Unix epoch milliseconds.
  parameters:
    XRevxSignature:
      in: header
      name: X-Revx-Signature
      required: true
      description: "The Ed25519 signature of the request. \nProvided with other authentication headers.\n\n:::tip\nSee **Authentication headers: Signing a request** for details on how to generate this.\n:::"
      schema:
        type: string
        example: 2h/t5o8w+l5s+fjyfA0n/e7j4u5b7h4e+g4k4c8h7a2p6k0g7j1f+w0i2j3k9r0l3s8m5t6r+q1s+o3v/t4x8v5y+w1r+m2t/k3w/j4y+
    XRevxTimestamp:
      in: header
      name: X-Revx-Timestamp
      required: true
      description: "Current timestamp in Unix epoch milliseconds. \nUsed to prevent replay attacks and construct the signature.\nProvided with other authentication headers."
      schema:
        type: integer
        example: 1746007718237
  examples:
    AccountBalanceExample:
      value:
      - currency: BTC
        available: '1.25000000'
        reserved: '0.10000000'
        total: '1.35000000'
      - currency: ETH
        available: '10.00000000'
        reserved: '0.00000000'
        staked: '32.00000000'
        total: '42.00000000'
      - currency: USD
        available: '5400.50'
        reserved: '100.00'
        total: '5500.50'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Revx-API-Key
      description: "The [API key](https://developer.revolut.com/docs/api/revolut-x-crypto-exchange#api-key) obtained from the [Revolut X web app](https://exchange.revolut.com/).\nIt takes the form of a 64-character alphanumeric string, and must be provided with other authentication headers.\n\nA sample API key might look like this: \n```sh\nM1VKFtwB0M9C9QJO7goPlwrOytrJsSNE19txsmpsWIKz7xYu3f8aNucIyynAhYBy\n```\n\nEach API key directly maps to the user account (either Business or Retail)."
