openapi: 3.2.0
info:
  title: Revolut Accounts API
  version: '1.0'
  description: 'Operations tagged Accounts across 2 of this provider''s published API definitions: revolut-business-openapi.yaml, revolut-open-banking-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://b2b.revolut.com/api/1.0
  description: Production server (uses live data)
- url: https://sandbox-b2b.revolut.com/api/1.0
  description: Sandbox server (uses test data)
- url: https://oba-auth.revolut.com
  description: Production server (uses live data)
- url: https://sandbox-oba-auth.revolut.com
  description: Sandbox server (uses test data)
tags:
- name: Accounts
  description: "Get the balances, full banking details, and other details of your business accounts. \n\nFor more information, see the guides: [Get your account details](https://developer.revolut.com/docs/guides/manage-accounts/accounts-and-transactions/manage-your-accounts)."
paths:
  /accounts:
    get:
      summary: Retrieve all accounts
      operationId: getAccounts
      description: 'Get a list of all your accounts.


        For more information, see the guides: [Get your account details](https://developer.revolut.com/docs/guides/manage-accounts/accounts-and-transactions/manage-your-accounts).'
      security:
      - AccessToken:
        - READ
      responses:
        '200':
          description: List of business accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              example:
              - id: b7ec67d3-5af1-42c8-bece-3d28nlmo894d
                name: International account
                balance: 3171.89
                currency: GBP
                state: active
                public: false
                created_at: '2022-08-05T14:29:22.215785Z'
                updated_at: '2022-08-05T14:29:22.215785Z'
              - id: bssc67d3-5afd-42c2-bece-3d28nlmo894d
                name: International account 2
                balance: 411561.89
                currency: EUR
                state: active
                public: true
                created_at: '2022-08-25T14:29:22.215785Z'
                updated_at: '2022-08-30T14:29:22.215785Z'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Accounts
    servers:
    - url: https://b2b.revolut.com/api/1.0
      description: Production server (uses live data)
    - url: https://sandbox-b2b.revolut.com/api/1.0
      description: Sandbox server (uses test data)
  /accounts/{account_id}:
    get:
      summary: Retrieve an account
      operationId: getAccount
      description: 'Get the information about one of your accounts.

        Specify the account by its ID.


        For more information, see the guides: [Get your account details](https://developer.revolut.com/docs/guides/manage-accounts/accounts-and-transactions/manage-your-accounts).'
      security:
      - AccessToken:
        - READ
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: The ID of the account to retrieve.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The information about a specific account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: b7ec67d3-5af1-42c8-bece-3d28nlmo894d
                name: International account
                balance: 3171.89
                currency: GBP
                state: active
                public: false
                created_at: '2022-08-05T14:29:22.215785Z'
                updated_at: '2022-08-05T14:29:22.215785Z'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://b2b.revolut.com/api/1.0
      description: Production server (uses live data)
    - url: https://sandbox-b2b.revolut.com/api/1.0
      description: Sandbox server (uses test data)
  /accounts/{account_id}/bank-details:
    get:
      summary: Retrieve account's full bank details
      operationId: getAccountDetails
      description: 'Get all the bank details of one of your accounts.

        Specify the account by its ID.


        For more information, see the guides: [Get your account details](https://developer.revolut.com/docs/guides/manage-accounts/accounts-and-transactions/manage-your-accounts).'
      security:
      - AccessToken:
        - READ
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: The ID of the account to retrieve all bank details.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The bank details of a specific account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBankDetailsItems'
              example:
              - iban: GB66REVO00996995908888
                bic: REVOGB21
                beneficiary: International account
                beneficiary_address:
                  street_line1: Revolut LTD
                  street_line2: 1 Canada Square
                  city: London
                  country: GB
                  postcode: E14 5AB
                bank_country: GB
                pooled: false
                schemes:
                - swift
                estimated_time:
                  unit: days
                  min: 1
                  max: 3
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://b2b.revolut.com/api/1.0
      description: Production server (uses live data)
    - url: https://sandbox-b2b.revolut.com/api/1.0
      description: Sandbox server (uses test data)
  /account-access-consents:
    post:
      tags:
      - Accounts
      summary: Create an account access consent
      operationId: CreateAccountAccessConsents
      description: 'Before you can access any data from a Revolut user, you must create an access consent to read data from the user''s profile.


        :::note

        When you create an account access consent, you must include a specific permission that follows the rules in the table below; otherwise, you get a `400 Bad request` error.

        :::


        **Request Permissions**


        | PERMISSIONS | DEPENDENCIES |

        |--|--|

        | ReadAccountsBasic | None |

        | ReadAccountsDetail |None|

        | ReadBalances |None|

        | ReadBeneficiariesBasic |None|

        | ReadBeneficiariesDetail |None|

        | ReadDirectDebits |None|

        | ReadScheduledPaymentsBasic |None|

        | ReadScheduledPaymentsDetail |None|

        | ReadStandingOrdersBasic |None|

        | ReadStandingOrdersDetail |None|

        | ReadTransactionsBasic |None|

        | ReadTransactionsCredits |ReadTransactionsBasic OR ReadTransactionsDetail|

        |ReadTransactionsDebits |ReadTransactionsBasic OR ReadTransactionsDetail|

        | ReadTransactionsDetail | None |


        See also [Tutorials: Get account and transaction information](https://developer.revolut.com/docs/guides/build-banking-apps/tutorials/get-account-and-transaction-information#2-create-an-account-access-consent).'
      parameters:
      - $ref: '#/components/parameters/x-fapi-financial-id-Param'
      - $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
      - $ref: '#/components/parameters/x-fapi-interaction-id-Param'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/x-customer-user-agent-Param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
            example:
              Data:
                Permissions:
                - ReadAccountsBasic
                - ReadAccountsDetail
                ExpirationDateTime: '2022-12-02T00:00:00+00:00'
                TransactionFromDateTime: '2022-09-03T00:00:00+00:00'
                TransactionToDateTime: '2022-12-03T00:00:00+00:00'
              Risk: {}
        required: true
      responses:
        '201':
          description: Account Access Consents Created
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
              example:
                Data:
                  Status: AwaitingAuthorisation
                  StatusUpdateDateTime: '2022-09-22T11:47:10.366163Z'
                  CreationDateTime: '2022-09-22T11:47:10.366163Z'
                  TransactionToDateTime: '2022-12-03T00:00:00+00:00'
                  ExpirationDateTime: '2022-12-02T00:00:00+00:00'
                  Permissions:
                  - ReadAccountsBasic
                  - ReadAccountsDetail
                  ConsentId: e0bdfd78-2388-xxxx-xxxx-acc0b84c9210
                  TransactionFromDateTime: '2022-09-03T00:00:00+00:00'
                Risk: {}
                Links:
                  Self: https://oba-auth.revolut.com/account-access-consents
                Meta:
                  TotalPages: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '405':
          description: Method Not Allowed
          content: {}
        '406':
          description: Not Acceptable
          content: {}
        '415':
          description: Unsupported Media Type
          content: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Time in seconds to wait before you make a new request.
              schema:
                type: integer
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
      security:
      - AccessToken:
        - accounts
      x-codegen-request-body-name: OBReadConsent1Param
    servers:
    - url: https://oba-auth.revolut.com
      description: Production server (uses live data)
    - url: https://sandbox-oba-auth.revolut.com
      description: Sandbox server (uses test data)
  /account-access-consents/{ConsentId}:
    get:
      tags:
      - Accounts
      summary: Retrieve an account access consent
      operationId: GetAccountAccessConsentsConsentId
      description: 'Get the details of the account access consent as described in the Open Banking [official documentation](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/999622968/Account+and+Transaction+API+Specification+-+v3.1.1).


        See also [Tutorials: Get account and transaction information](https://developer.revolut.com/docs/guides/build-banking-apps/tutorials/get-account-and-transaction-information).'
      parameters:
      - name: ConsentId
        in: path
        description: The ID of the account access consent.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/x-fapi-financial-id-Param'
      - $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
      - $ref: '#/components/parameters/x-fapi-interaction-id-Param'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          description: Account Access Consents Read
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
              example:
                Data:
                  Status: AwaitingAuthorisation
                  StatusUpdateDateTime: '2022-09-22T11:47:10.366163Z'
                  CreationDateTime: '2022-09-22T11:47:10.366163Z'
                  TransactionToDateTime: '2022-12-03T00:00:00+00:00'
                  ExpirationDateTime: '2022-12-02T00:00:00+00:00'
                  Permissions:
                  - ReadAccountsBasic
                  - ReadAccountsDetail
                  ConsentId: e0bdfd78-2388-xxxx-xxxx-acc0b84c9210
                  TransactionFromDateTime: '2022-09-03T00:00:00+00:00'
                Risk: {}
                Links:
                  Self: https://oba-auth.revolut.com/account-access-consents/e0bdfd78-2388-xxxx-xxxx-acc0b84c9210
                Meta:
                  TotalPages: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '405':
          description: Method Not Allowed
          content: {}
        '406':
          description: Not Acceptable
          content: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Time in seconds to wait before you make a new request.
              schema:
                type: integer
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
      security:
      - AccessToken:
        - accounts
    delete:
      tags:
      - Accounts
      summary: Delete an account access consent
      security:
      - AccessToken:
        - accounts
      description: 'Use this endpoint to:


        - Reject a consent if it is in the `AwaitingAuthorisation` state or any error occurs while the consent is being authorised.

        - Revoke a consent if it is in the `Authorised` state.


        See also [Tutorials: Get account and transaction information](https://developer.revolut.com/docs/guides/build-banking-apps/tutorials/get-account-and-transaction-information).'
      operationId: DeleteAccountAccessConsentsConsentId
      parameters:
      - name: ConsentId
        in: path
        description: The ID of the account access consent.
        required: true
        schema:
          type: string
      - name: x-fapi-financial-id
        in: header
        description: 'The unique ID of the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) that the request is issued to.

          The ID of Revolut is `001580000103UAvAAM`.'
        required: true
        schema:
          type: string
      - name: x-fapi-customer-last-logged-time
        in: header
        description: 'The date and time when the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) last logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).


          All dates in the HTTP headers are represented as [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1) Full Dates.

          For example: <nobr>`Sun, 10 Sep 2017 19:43:31 UTC`</nobr>.'
        schema:
          pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
          type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The IP address of the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) if the PSU is logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).
        schema:
          type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The access token that you''ve generated.

          For more information, see [Generate an access token](https://developer.revolut.com/docs/guides/build-banking-apps/get-started/get-access-token).'
        required: true
        schema:
          type: string
      - name: x-customer-user-agent
        in: header
        description: The user agent that the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) is using.
        schema:
          type: string
      responses:
        '204':
          description: Account Access Consent Deleted
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '405':
          description: Method Not Allowed
          content: {}
        '406':
          description: Not Acceptable
          content: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Time in seconds to wait before you make a new request.
              schema:
                type: integer
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    servers:
    - url: https://oba-auth.revolut.com
      description: Production server (uses live data)
    - url: https://sandbox-oba-auth.revolut.com
      description: Sandbox server (uses test data)
  /accounts/{AccountId}:
    get:
      tags:
      - Accounts
      summary: Retrieve an account
      security:
      - AccessToken:
        - accounts
      description: 'Get the information about a specific account by ID.


        :::note

        In compliance with PSD2 SCA regulations, access to this endpoint is only allowed within the first 5 minutes after the Revolut user has authorised the consent.

        After those 5 minutes, access to this endpoint is denied, and an HTTP `403` error is returned.

        :::


        See also [Tutorials: Get account and transaction information](https://developer.revolut.com/docs/guides/build-banking-apps/tutorials/get-account-and-transaction-information).'
      operationId: GetAccountsAccountId
      parameters:
      - name: AccountId
        in: path
        description: The ID of the account.
        required: true
        schema:
          type: string
      - name: x-fapi-financial-id
        in: header
        description: 'The unique ID of the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) that the request is issued to.

          The ID of Revolut is `001580000103UAvAAM`.'
        required: true
        schema:
          type: string
      - name: x-fapi-customer-last-logged-time
        in: header
        description: 'The date and time when the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) last logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).


          All dates in the HTTP headers are represented as [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1) Full Dates.

          For example: <nobr>`Sun, 10 Sep 2017 19:43:31 UTC`</nobr>.'
        schema:
          pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
          type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The IP address of the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) if the PSU is logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).
        schema:
          type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The access token that you''ve generated.

          For more information, see [Generate an access token](https://developer.revolut.com/docs/guides/build-banking-apps/get-started/get-access-token).'
        required: true
        schema:
          type: string
      - name: x-customer-user-agent
        in: header
        description: The user agent that the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) is using.
        schema:
          type: string
      responses:
        '200':
          description: Accounts Read
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadAccount3'
              examples:
                uk-accounts:
                  summary: UK Accounts
                  value:
                    Data:
                      Account:
                      - AccountId: d3779729-xxxx-xxxx-bb43-fb5159b7c166
                        Currency: GBP
                        AccountType: Personal
                        AccountSubType: CurrentAccount
                        Account:
                        - SchemeName: UK.OBIE.IBAN
                          Identification: GB95REVO00997053872360
                          Name: John Smith
                        - SchemeName: UK.OBIE.SortCodeAccountNumber
                          Identification: '00000001611667'
                          Name: John Smith
                    Links:
                      Self: https://oba-auth.revolut.com/accounts/d3779729-xxxx-xxxx-bb43-fb5159b7c166
                    Meta:
                      TotalPages: 1
                savings-account:
                  summary: Savings Account
                  value:
                    Data:
                      Account:
                      - AccountId: be2249e6-xxxx-xxxx-b9d1-0242ac120002
                        Currency: GBP
                        AccountType: Personal
                        AccountSubType: Savings
                        Account:
                        - SchemeName: UK.Revolut.InternalAccountId
                          Identification: be2249e6-xxxx-xxxx-b9d1-0242ac120002
                          Name: John Smith
                    Links:
                      Self: https://oba-auth.revolut.com/accounts/be2249e6-xxxx-xxxx-b9d1-0242ac120002
                    Meta:
                      TotalPages: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: 'Unauthorized


            Returned when the access token has expired or is invalid, for example, when the consent has been revoked.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
              examples:
                consent_revoked:
                  $ref: '#/components/examples/Error401InvalidRevokedOrExpiredToken'
        '403':
          description: 'Forbidden


            Returned, for example, when the 5-minute [SCA](https://www.openbanking.org.uk/glossary/strong-customer-authentication/) session has expired.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
              examples:
                sca_expired:
                  $ref: '#/components/examples/Error403ForbiddenAccess'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Time in seconds to wait before you make a new request.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    servers:
    - url: https://oba-auth.revolut.com
      description: Production server (uses live data)
    - url: https://sandbox-oba-auth.revolut.com
      description: Sandbox server (uses test data)
  /accounts/{AccountId}/balances:
    get:
      tags:
      - Accounts
      summary: Retrieve an account balance
      security:
      - AccessToken:
        - accounts
      description: 'Get the balance of an account.


        See also [Tutorials: Get account and transaction information](https://developer.revolut.com/docs/guides/build-banking-apps/tutorials/get-account-and-transaction-information).'
      operationId: GetAccountsAccountIdBalances
      parameters:
      - name: AccountId
        in: path
        description: The ID of the account.
        required: true
        schema:
          type: string
      - name: x-fapi-financial-id
        in: header
        description: 'The unique ID of the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) that the request is issued to.

          The ID of Revolut is `001580000103UAvAAM`.'
        required: true
        schema:
          type: string
      - name: x-fapi-customer-last-logged-time
        in: header
        description: 'The date and time when the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) last logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).


          All dates in the HTTP headers are represented as [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1) Full Dates.

          For example: <nobr>`Sun, 10 Sep 2017 19:43:31 UTC`</nobr>.'
        schema:
          pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
          type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The IP address of the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) if the PSU is logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).
        schema:
          type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The access token that you''ve generated.

          For more information, see [Generate an access token](https://developer.revolut.com/docs/guides/build-banking-apps/get-started/get-access-token).'
        required: true
        schema:
          type: string
      - name: x-customer-user-agent
        in: header
        description: The user agent that the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) is using.
        schema:
          type: string
      responses:
        '200':
          description: Balances Read
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
              example:
                Data:
                  Balance:
                  - AccountId: d3779729-xxxx-xxxx-bb43-fb5159b7c166
                    Amount:
                      Amount: '970.49'
                      Currency: GBP
                    CreditDebitIndicator: Credit
                    Type: InterimAvailable
                    DateTime: '2022-09-22T08:32:02.775972Z'
                Links:
                  Self: https://oba-auth.revolut.com/accounts/d3779729-xxxx-xxxx-bb43-fb5159b7c166/balances
                Meta:
                  TotalPages: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: 'Unauthorized


            Returned, for instance, when the access token has expired or is invalid, for example, when the consent has been revoked, or when the consent lacks necessary permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
              examples:
                consent_revoked:
                  $ref: '#/components/examples/Error401InvalidRevokedOrExpiredToken'
                no_permissions:
                  $ref: '#/components/examples/Error401ConsentLacksPermissions'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Time in seconds to wait before you make a new request.
              schema:
                type: integer
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    servers:
    - url: https://oba-auth.revolut.com
      description: Production server (uses live data)
    - url: https://sandbox-oba-auth.revolut.com
      description: Sandbox server (uses test data)
  /accounts/{AccountId}/beneficiaries:
    get:
      tags:
      - Accounts
      summary: Retrieve all account's beneficiaries
      security:
      - AccessToken:
        - accounts
      description: 'Get all the beneficiaries of a specific user account.


        :::note

        In compliance with PSD2 SCA regulations, access to this endpoint is only allowed within the first 5 minutes after the Revolut user has authorised the consent.

        After those 5 minutes, access to this endpoint is denied, and an HTTP `403` error is returned.

        :::


        See also [Tutorials: Get account and transaction information](https://developer.revolut.com/docs/guides/build-banking-apps/tutorials/get-account-and-transaction-information).'
      operationId: GetAccountsAccountIdBeneficiaries
      parameters:
      - name: AccountId
        in: path
        description: The ID of the account.
        required: true
        schema:
          type: string
      - name: x-fapi-financial-id
        in: header
        description: 'The unique ID of the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) that the request is issued to.

          The ID of Revolut is `001580000103UAvAAM`.'
        required: true
        schema:
          type: string
      - name: x-fapi-customer-last-logged-time
        in: header
        description: 'The date and time when the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) last logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).


          All dates in the HTTP headers are represented as [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1) Full Dates.

          For example: <nobr>`Sun, 10 Sep 2017 19:43:31 UTC`</nobr>.'
        schema:
          pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
          type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The IP address of the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) if the PSU is logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).
        schema:
          type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The access token that you''ve generated.

          For more information, see [Generate an access token](https://developer.revolut.com/docs/guides/build-banking-apps/get-started/get-access-token).'
        required: true
        schema:
          type: string
      - name: x-customer-user-agent
        in: header
        description: The user agent that the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) is using.
        schema:
          type: string
      responses:
        '200':
          description: Beneficiaries Read
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary3'
              example:
                Data:
                  Beneficiary:
                  - AccountId: d3779729-xxxx-xxxx-1234-fb5159b7c166
                    BeneficiaryId: 619e270c-989f-44ca-1234-a161be65d5f4
                    CreditorAccount:
                      SchemeName: UK.OBIE.SortCodeAccountNumber
                      Identification: '11223321325698'
                      Name: Receiver Co.
                Links:
                  Self: https://oba-auth.revolut.com/accounts/d3779729-xxxx-xxxx-1234-fb5159b7c166/beneficiaries
                Meta:
                  TotalPages: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: 'Unauthorized


            Returned, for instance, when the access token has expired or is invalid, for example, when the consent has been revoked, or when the consent lacks necessary permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
              examples:
                consent_revoked:
                  $ref: '#/components/examples/Error401InvalidRevokedOrExpiredToken'
                no_permissions:
                  $ref: '#/components/examples/Error401ConsentLacksPermissions'
        '403':
          description: 'Forbidden


            Returned, for example, when the 5-minute [SCA](https://www.openbanking.org.uk/glossary/strong-customer-authentication/) session has expired.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
              examples:
                sca_expired:
                  $ref: '#/components/examples/Error403ForbiddenAccess'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Time in seconds to wait before you make a new request.
              schema:
                type: integer
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    servers:
    - url: https://oba-auth.revolut.com
      description: Production server (uses live data)
    - url: https://sandbox-oba-auth.revolut.com
      description: Sandbox server (uses test data)
components:
  schemas:
    AccountBankDetailsItem:
      type: object
      description: ''
      properties:
        iban:
          type: string
          description: The IBAN number.
        bic:
          type: string
          description: The BIC number, also known as SWIFT code.
        account_no:
          type: string
          description: The account number.
        sort_code:
          type: string
          description: The sort code of the account.
        routing_number:
          type: string
          description: The routing number of the account.
        beneficiary:
          type: string
          description: The name of the counterparty.
        beneficiary_address:
          $ref: '#/components/schemas/BeneficiaryAddress'
        bank_country:
          $ref: '#/components/schemas/BankCountryCode'
        pooled:
          type: boolean
          description: Indicates whether the account address is pooled or unique.
        unique_reference:
          type: string
          description: The reference of the pooled account.
        schemes:
          type: array
          description: The schemes that are available for this currency account.
          uniqueItems: false
          items:
            $ref: '#/components/schemas/PaymentSystem'
        estimated_time:
          $ref: '#/components/schemas/EstimatedTime'
      required:
      - beneficiary
      - beneficiary_address
      - schemes
      - estimated_time
    BeneficiaryAddress:
      type: object
      description: The address of the counterparty.
      properties:
        street_line1:
          type: string
          description: Street line 1 information.
          example: Revolut LTD
        street_line2:
          type: string
          description: Street line 2 information.
          example: 1 Canada Square
        region:
          type: string
          description: The name of the region (state or province), for example, Ontario for Canada.
          example: Ontario
        city:
          type: string
          description: The name of the city.
          example: London
        country:
          type: string
          pattern: ^[A-Z]{2}$
          description: The country of the counterparty, as a 2-letter [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) code.
          example: GB
        postcode:
          type: string
          description: The postcode of the counterparty address.
          example: E14 5AB
      required:
      - country
      - postcode
    Account:
      type: object
      description: ''
      properties:
        id:
          type: string
          format: uuid
          description: The account ID.
        name:
          type: string
          description: The account name.
        balance:
          type: number
          format: double
          description: The current balance on the account.
        currency:
          $ref: '#/components/schemas/AccountCurrency'
        state:
          type: string
          enum:
          - active
          - inactive
          description: Indicates the state of the account.
        public:
          type: boolean
          description: Indicates whether the account is visible to other businesses on Revolut.
        created_at:
          type: string
          format: date-time
          description: The date and time the account was created in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        updated_at:
          type: string
          format: date-time
          description: The date and time the account was last updated in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
      required:
      - id
      - balance
      - currency
      - state
      - public
      - created_at
      - updated_at
    Accounts:
      type: array
      items:
        $ref: '#/components/schemas/Account'
    BankCountryCode:
      type: string
      pattern: ^[A-Z]{2}$
      description: The country of the bank, provided as a 2-letter [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) code.
      example: GB
    PaymentSystem:
      enum:
      - chaps
      - bacs
      - faster_payments
      - sepa
      - swift
      - ach
      - elixir
      - sorbnet
      - nics
      - rix
      - sumclearing
      example: swift
      type: string
      description: Indicates the payment scheme used to execute transactions.
    AccountBankDetailsItems:
      type: array
      description: Indicates the payment scheme used to execute transactions.
      items:
        $ref: '#/components/schemas/AccountBankDetailsItem'
    Error:
      type: object
      properties:
        code:
          type: integer
          description: The error code.
        message:
          type: string
          description: The description of the error.
      required:
      - code
      - message
    EstimatedTime:
      type: object
      description: The estimated time of the inbound transfer of the funds, i.e. when we expect the recipient to receive the transfer.
      properties:
        unit:
          type: string
          description: The estimated time unit of the inbound transfer of the funds.
          enum:
          - days
          - hours
          example: days
        min:
          type: integer
          description: The minimum time estimate.
          example: 1
        max:
          type: integer
          description: The maximum time estimate.
          example: 3
      required:
      - unit
    AccountCurrency:
      type: string
      pattern: ^[A-Z]{3}$
      description: '[ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in upper case.'
    OBExternalAccountSubType1Code:
      type: string
      description: The sub-type of the account.
      enum:
      - CurrentAccount
      - Savings
      - CreditCard
    OBActiveOrHistoricCurrencyAndAmount:
      required:
      - Amount
      - Currency
      type: object
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          pattern: ^[A-Z]{3,3}$
          type: string
          description: '[ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in upper case.'
      description: The amount of the cash balance after a transaction entry is applied to the account.
    OBReadData1:
      required:
      - Permissions
      type: object
      properties:
        Permissions:
          minItems: 1
          type: array
          description: 'Specifies the type of data access to the account.

            This is a list of the data clusters being consented by the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary), and requested for authorisation with the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).'
          items:
            $ref: '#/components/schemas/OBExternalPermissions1Code'
        ExpirationDateTime:
          type: string
          description: 'Specifies the date and time the permission expires.

            If this is not specified, the permission is open ended.


            All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

            All date-time fields in responses must include the timezone.


            For example: `2017-04-05T10:43:07+00:00`.'
          format: date-time
        TransactionFromDateTime:
          type: string
          description: 'Specifies the start date and time for the transaction query period.

            If this is not specified, the start date is open ended, and data is returned from the earliest available transaction.


            All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

            All date-time fields in responses must include the timezone.


            For example: `2017-04-05T10:43:07+00:00`.'
          format: date-time
        TransactionToDateTime:
          type: string
          description: 'Specifies the end date and time for the transaction query period.

            If this is not specified, the end date is open ended, and data is returned to the latest available transaction.


            All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

            All date-time fields in responses must include the timezone.


            For example: `2017-04-05T10:43:07+00:00`.'
          format: date-time
    OBReadConsent1:
      required:
      - Data
      - Risk
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBReadData1'
        Risk:
          $ref: '#/components/schemas/OBRisk2'
    OBRisk2:
      type: object
      description: The Risk section contains the risk indicators that the initiating party sends to the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary), which can be used to specify additional details for risk scoring for account information.
    OBExternalLimitType1Code:
      type: string
      description: The limit type.
      enum:
      - Available
    OBCreditLine1:
      required:
      - Included
      type: object
      properties:
        Included:
          type: boolean
          description: 'Indicates whether the credit line is included in the balance of the account.


            :::note

            If set to `false`, credit line is not included in the account balance.

            :::'
        Type:
          $ref: '#/components/schemas/OBExternalLimitType1Code'
        Amount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
      description: Set of elements used to provide details on the credit line.
    OBReadBeneficiary3:
      required:
      - Data
      - Links
      - Meta
      type: object
      properties:
        Data:
          type: object
          properties:
            Beneficiary:
              type: array
              items:
                $ref: '#/components/schemas/OBBeneficiary3'
          description: A list of beneficiaries.
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBActiveCurrencyAndAmount_SimpleType:
      pattern: ^\d{1,13}\.\d{1,5}$
      type: string
      description: The amount of money where the unit of currency is explicit and compliant with [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
    OBBalanceType1Code:
      type: string
      description: The balance type.
      enum:
      - InterimAvailable
      - InterimBooked
      - ClosingAvailable
      - ClosingBooked
      - ClosingCleared
      - Expected
      - ForwardAvailable
      - Information
      - InterimAvailable
      - InterimBooked
      - InterimCleared
      - OpeningAvailable
      - OpeningBooked
      - OpeningCleared
      - PreviouslyClosedBooked
    OBError1:
      required:
      - ErrorCode
      - Message
      type: object
      properties:
        ErrorCode:
          maxLength: 128
          minLength: 1
          type: string
          description: The error code in low level, for example, `UK.OBIE.Field.Missing`.
        Message:
          maxLength: 500
          minLength: 1
          type: string
          description: 'The description of the error that occurred.

            For example, `A mandatory field isn''t supplied`, `RequestedExecutionDateTime must be in future`, and `OBIE doesn''t standardise this field`.'
    OBReadConsentResponse1:
      required:
      - Data
      - Links
      - Meta
      - Risk
      type: object
      properties:
        Data:
          required:
          - ConsentId
          - CreationDateTime
          - Permissions
          - Status
          - StatusUpdateDateTime
          type: object
          properties:
            ConsentId:
              maxLength: 128
              minLength: 1
              type: string
              description: The unique ID that is assigned to identify the account access consent resource.
            CreationDateTime:
              type: string
              description: 'The date and time when the account access consent was created.


                All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

                All date-time fields in responses must include the timezone.


                For example: `2017-04-05T10:43:07+00:00`.'
              format: date-time
            Status:
              $ref: '#/components/schemas/OBExternalRequestStatus1Code'
            StatusUpdateDateTime:
              type: string
              description: 'The date and time when the account access consent was created.


                All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

                All date-time fields in responses must include the timezone.


                For example: `2017-04-05T10:43:07+00:00`.'
              format: date-time
            Permissions:
              minItems: 1
              type: array
              description: The type of data access to the account.
              items:
                $ref: '#/components/schemas/OBExternalPermissions1Code'
            ExpirationDateTime:
              type: string
              description: 'The date and time when the permission expires.

                If this is not specified, the permission is open ended.


                All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

                All date-time fields in responses must include the timezone.


                For example: `2017-04-05T10:43:07+00:00`.'
              format: date-time
            TransactionFromDateTime:
              type: string
              description: 'The start date and time for the transaction query period.

                If this is not specified, the start date is open ended, and data is returned from the earliest available transaction.


                All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

                All date-time fields in responses must include the timezone.


                For example: `2017-04-05T10:43:07+00:00`.'
              format: date-time
            TransactionToDateTime:
              type: string
              description: 'The end date and time for the transaction query period.

                If this is not specified, the end date is open ended, and data is returned to the latest available transaction.


                All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

                All date-time fields in responses must include the timezone.


                For example: `2017-04-05T10:43:07+00:00`.'
              format: date-time
        Risk:
          $ref: '#/components/schemas/OBRisk2'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBExternalPermissions1Code:
      type: string
      description: The type of data access to the account.
      enum:
      - ReadAccountsBasic
      - ReadAccountsDetail
      - ReadBalances
      - ReadBeneficiariesBasic
      - ReadBeneficiariesDetail
      - ReadDirectDebits
      - ReadOffers
      - ReadPAN
      - ReadParty
      - ReadPartyPSU
      - ReadProducts
      - ReadScheduledPaymentsBasic
      - ReadScheduledPaymentsDetail
      - ReadStandingOrdersBasic
      - ReadStandingOrdersDetail
      - ReadStatementsBasic
      - ReadStatementsDetail
      - ReadTransactionsBasic
      - ReadTransactionsCredits
      - ReadTransactionsDebits
      - ReadTransactionsDetail
    OBAccount3:
      required:
      - AccountId
      - AccountSubType
      - AccountType
      - Currency
      type: object
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        Currency:
          pattern: ^[A-Z]{3,3}$
          type: string
          description: 'The currency that the account is held in ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in upper case).


            This value is used only when one account number covers multiple accounts for different currencies, and the initiating party needs to identify which currency to use for settlement on the account.'
        AccountType:
          $ref: '#/components/schemas/OBExternalAccountType1Code'
        AccountSubType:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Nickname:
          maxLength: 70
          minLength: 1
          type: string
          description: The nickname of the account that the account owner assigns to easily identify the account.
        Account:
          type: array
          description: The details to identify an account.
          items:
            $ref: '#/components/schemas/OBCashAccount5'
      description: The unique ID of the account that credit and debit entries are made to.
    OBCashBalance1:
      required:
      - AccountId
      - Amount
      - CreditDebitIndicator
      - DateTime
      - Type
      type: object
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        CreditDebitIndicator:
          type: string
          description: 'Indicates whether the balance is a credit or a debit balance.


            :::note

            A zero balance is considered a credit balance.

            :::'
          enum:
          - Credit
          - Debit
        Type:
          $ref: '#/components/schemas/OBBalanceType1Code'
        DateTime:
          type: string
          description: 'The date and time for the balance.


            All dates in the JSON payloads are represented in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format.

            All date-time fields in responses must include the timezone.


            For example: `2017-04-05T10:43:07+00:00`.'
          format: date-time
        Amount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
        CreditLine:
          type: array
          description: A list of elements to provide details on the credit line.
          items:
            $ref: '#/components/schemas/OBCreditLine1'
      description: A list of elements to define the balance details.
    OBBeneficiary3:
      type: object
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        BeneficiaryId:
          maxLength: 40
          minLength: 1
          type: string
          description: 'The unique and immutable ID to identify the beneficiary resource.

            This ID has no meaning to the account owner.'
        CreditorAccount:
          $ref: '#/components/schemas/OBCashAccount5'
    Meta:
      title: MetaData
      type: object
      properties:
        TotalPages:
          type: integer
          description: Used for pagination. Indicates how many pages of results are available.
          format: int32
      description: Meta data relevant to the payload.
    OBCashAccount5:
      required:
      - Identification
      - SchemeName
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBRevolutAccountIdentificationCode'
        Identification:
          maxLength: 256
          minLength: 1
          type: string
          description: 'The identification of the account.


            :::warning[Unique account identifier]

            This field will typically contain an account number or an IBAN which must not be considered as a unique identifier for the account. Several currency subacounts can share this same identifier.


            If you need a unique identifier for each account, ensure you use the `Data.Account.AccountId` instead.

            :::

            '
        Name:
          maxLength: 70
          minLength: 1
          type: string
          description: 'The account name that the account servicing institution assigns.


            The account name is the name or names of the account owner(s) represented at an account level.


            The account name is not the product name or the nickname of the account.'
        SecondaryIdentification:
          maxLength: 34
          minLength: 1
          type: string
          description: 'The secondary account ID that the account servicing institution assigns.


            Building societies can use this ID to identify accounts with a roll number in addition to a sort code and account number combination.'
      description: The details to identify the account.
    OBReadBalance1:
      required:
      - Data
      - Links
      - Meta
      type: object
      properties:
        Data:
          required:
          - Balance
          type: object
          properties:
            Balance:
              minItems: 1
              type: array
              description: A list of elements to define the balance details.
              items:
                $ref: '#/components/schemas/OBCashBalance1'
          description: The balance details.
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBErrorResponse1:
      required:
      - Code
      - Errors
      - Message
      type: object
      properties:
        Code:
          maxLength: 40
          minLength: 1
          type: string
          description: The error code in high level that helps categorize the error.
        Id:
          maxLength: 40
          minLength: 1
          type: string
          description: The ID of the error. You can share this ID with Revolut support for troubleshooting.
        Message:
          maxLength: 500
          minLength: 1
          type: string
          description: 'The error message.

            For example, `There is something wrong with the request parameters provided`.'
        Errors:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/OBError1'
      description: The detailed information about the error to help troubleshooting.
    OBExternalRequestStatus1Code:
      type: string
      description: The status of the account access consent.
      enum:
      - Authorised
      - AwaitingAuthorisation
      - Rejected
      - Revoked
    OBReadAccount3:
      required:
      - Data
      - Links
      - Meta
      type: object
      properties:
        Data:
          type: object
          properties:
            Account:
              type: array
              description: The unique ID of the account that credit and debit entries are made to.
              items:
                $ref: '#/components/schemas/OBAccount3'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    AccountId:
      maxLength: 40
      minLength: 1
      type: string
      description: 'The unique and immutable ID to identify the account resource.

        This ID has no meaning to the account owner.'
    OBRevolutAccountIdentificationCode:
      type: string
      description: 'The name of the identification scheme.


        Note the scheme `UK.Revolut.InternalAccountId` is an internal account identifier for those accounts which don''t have externally available identifiers.

        It cannot be used to send or receive funds.

        '
      enum:
      - UK.OBIE.IBAN
      - UK.OBIE.SortCodeAccountNumber
      - US.RoutingNumberAccountNumber
      - US.BranchCodeAccountNumber
      - UK.Revolut.InternalAccountId
      example: UK.OBIE.IBAN
    OBExternalAccountType1Code:
      type: string
      description: The type of the account.
      enum:
      - Business
      - Personal
    Links:
      required:
      - Self
      type: object
      properties:
        Self:
          type: string
          description: The absolute URI to the resource.
          format: uri
        Next:
          type: string
          description: The absolute URI to the next pagination resource.
          format: uri
        Prev:
          type: string
          description: The absolute URI to the previous pagination resource.
          format: uri
      description: Links relevant to the payload.
  parameters:
    x-customer-user-agent-Param:
      name: x-customer-user-agent
      in: header
      description: The user agent that the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) is using.
      schema:
        type: string
    x-fapi-customer-last-logged-time-Param:
      name: x-fapi-customer-last-logged-time
      in: header
      description: 'The date and time when the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) last logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).


        All dates in the HTTP headers are represented as [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1) Full Dates.

        For example: <nobr>`Sun, 10 Sep 2017 19:43:31 UTC`</nobr>.'
      schema:
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
        type: string
    x-fapi-financial-id-Param:
      name: x-fapi-financial-id
      in: header
      description: 'The unique ID of the [ASPSP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) that the request is issued to.

        The ID of Revolut is `001580000103UAvAAM`.'
      required: true
      schema:
        type: string
    x-fapi-customer-ip-address-Param:
      name: x-fapi-customer-ip-address
      in: header
      description: The IP address of the [PSU](https://developer.revolut.com/docs/guides/build-banking-apps/glossary) if the PSU is logged in with the [TPP](https://developer.revolut.com/docs/guides/build-banking-apps/glossary).
      schema:
        type: string
    AuthorizationParam:
      name: Authorization
      in: header
      description: 'The access token that you''ve generated.

        For more information, see [Generate an access token](https://developer.revolut.com/docs/guides/build-banking-apps/get-started/get-access-token).'
      required: true
      schema:
        type: string
    x-fapi-interaction-id-Param:
      name: x-fapi-interaction-id
      in: header
      description: An [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID used as a correlation ID.
      schema:
        type: string
  examples:
    Error401InvalidRevokedOrExpiredToken:
      summary: Token invalid, revoked or expired
      value:
        Code: 401 Unauthorized
        Message: Access token is invalid or expired
        Id: XXXXXXXXXXXX
        Errors:
        - ErrorCode: UK.OBIE.Resource.Unauthorized
          Message: Access token is invalid or expired
    Error403ForbiddenAccess:
      summary: SCA 5 minutes expired
      value:
        Code: 403 Forbidden
        Message: Access forbidden
        Id: XXXXXXXXXXXX
        Errors:
        - ErrorCode: UK.OBIE.Resource.Forbidden
          Message: Access forbidden
    Error401ConsentLacksPermissions:
      summary: Consent lacks permissions
      value:
        Code: 401 Unauthorized
        Message: Consent has no permissions
        Id: XXXXXXXXXXXX
        Errors:
        - ErrorCode: UK.OBIE.Resource.Unauthorized
          Message: Consent has no permissions
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
      description: "Each Business API request must contain an authorization header in the following format to make a call: `Bearer <your_access_token>`.\n\nThe access token will be obtained the first time you set up your application and has an expiration of 40 minutes. \nDuring setup, a `refresh_token` will also be obtained which allows to obtain a new `access_token`.\n\n:::danger\nNever share your client-assertion JWT (JSON web token), `access_token` and `refresh_token` with anyone, as these can be used to access your banking data and initiate transactions.\n:::\n\nAccess tokens can be issued with four security scopes and require a JWT (JSON Web Token) signature to be obtained:\n- `READ`: Permissions for `GET` operations.\n- `WRITE`: Permissions to update counterparties, webhooks, and issue payment drafts.\n- `PAY`: Permissions to initiate or cancel transactions and currency exchanges.    \n- `READ_SENSITIVE_CARD_DATA`: Permissions to retrieve sensitive card details.\n\n  :::warning\n  If you enable the `READ_SENSITIVE_CARD_DATA` scope for your access token, you must set up IP whitelisting. \n  Failing to do so will prevent you from accessing **any** Business API endpoint. \n\n  IP whitelisting means that you must specify an IP or a set of IPs which will be the only IPs from which requests to the API will be accepted. \n  To do so:\n  1. Go to the Revolut Business web app [settings](https://business.revolut.com/settings) → **APIs** → **Business API**.\n  2. Select the corresponding API certificate.\n  3. In **Production IP whitelist**, provide the IP(s) which should be whitelisted.\n      Make sure that the IPs you provide are **not** [local (i.e. private) IP addresses](https://www.okta.com/en-sg/identity-101/understanding-private-ip-ranges/). \n  4. Save the new settings.\n  :::\n\nTo configure your JWT and obtain the refresh and first access tokens, complete the following steps:\n\n  1. [Sign up for a Revolut Business account](https://developer.revolut.com/docs/guides/manage-accounts/get-started/sign-up-for-revolut-business-account)\n  2. [Prepare your Sandbox environment](https://developer.revolut.com/docs/guides/manage-accounts/get-started/prepare-sandbox-environment)\n  3. [Make your first API request](https://developer.revolut.com/docs/guides/manage-accounts/get-started/make-your-first-api-request)"
    JWS:
      type: apiKey
      description: 'Open Banking API Payment requests additionally require a JSON Web Signature (JWS) which needs to be added to the header of the request.

        The JWS signature must be obtained using the full content of the payload.'
      name: x-jws-signature
      in: header
x-refined-from:
- revolut-business-openapi.yaml
- revolut-open-banking-openapi.yaml
