openapi: 3.2.0
info:
  title: Merchant Terminals API
  version: '2026-04-20'
  description: Welcome to the Revolut Merchant API - your solution to managing the core aspects of e-commerce and accepting online payments.
  contact: {}
servers:
- description: Production server (uses live data)
  url: https://merchant.revolut.com
- description: Sandbox server (uses test data)
  url: https://sandbox-merchant.revolut.com
security:
- Api-Key: []
tags:
- name: Terminals
  description: Operations for managing Revolut Terminal devices and push payment integrations with Point of Sale (POS) systems.
paths:
  /api/terminals:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    - $ref: '#/components/parameters/Revolut-Api-Version-Optional'
    get:
      summary: Retrieve terminal list
      operationId: retrieveTerminalList
      description: 'Retrieve a list of Revolut Terminal devices available to the merchant.


        This endpoint is primarily used for push payments to Revolut Terminal integration, allowing POS systems to discover available terminals at a specific location and in the correct operation mode.


        :::tip

        For push payments integration, use the `operation_mode=pos` query parameter to filter only terminals in **Pay at Counter** mode that are ready to receive payment intents.

        :::


        :::info

        For more information about integration, see: Push payments to Revolut Terminal.

        :::'
      parameters:
      - $ref: '#/components/parameters/Operation-Mode'
      - $ref: '#/components/parameters/Location-Id-Query'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terminals-Response'
              examples:
                terminals_list:
                  $ref: '#/components/examples/Res-Terminals-List'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-v2'
      security:
      - Api-Key: []
      tags:
      - Terminals
components:
  schemas:
    Error-v2:
      title: Error
      type: object
      properties:
        code:
          type: string
          description: 'An identifier that can be used to determine what went wrong.


            Error codes are not globally unique, but uniqueness is guaranteed within endpoints.'
        message:
          type: string
          description: Some human readable text describing what went wrong.
        timestamp:
          type: integer
          description: The [UNIX timestamp](https://www.unixtimestamp.com/) of the date and time the error happened.
    Terminal-Serial-Number:
      title: Terminal serial number
      type: string
      description: The serial number of the terminal device.
      example: RT-00123456
    Terminal-Last-Online-At:
      title: Terminal last online timestamp
      type: string
      format: date-time
      description: The date and time when the terminal was last seen online.
    Terminal-Operation-Mode:
      title: Terminal operation mode
      type: string
      description: "The operation mode of the terminal.\n\n  | Value | Description |\n|-------|-------------|\n| `pos` | Returns only terminals in Pay at Counter mode |\n| `payment_acceptance` | Returns only terminals in standard checkout mode |"
      enum:
      - pos
      - payment_acceptance
    Terminals-Response:
      title: Terminals response
      type: object
      description: Response containing a list of terminals.
      properties:
        terminals:
          $ref: '#/components/schemas/Terminals'
      required:
      - terminals
    Terminal-Id:
      title: Terminal ID
      type: string
      format: uuid
      description: The unique identifier of the terminal.
    Terminal:
      title: Terminal
      type: object
      description: Represents a Revolut Terminal device.
      properties:
        id:
          $ref: '#/components/schemas/Terminal-Id'
        name:
          $ref: '#/components/schemas/Terminal-Name'
        type:
          $ref: '#/components/schemas/Terminal-Type'
        serial_number:
          $ref: '#/components/schemas/Terminal-Serial-Number'
        battery_level:
          $ref: '#/components/schemas/Terminal-Battery-Level'
        online:
          $ref: '#/components/schemas/Terminal-Online'
        last_online_at:
          $ref: '#/components/schemas/Terminal-Last-Online-At'
      required:
      - id
      - name
      - type
      - serial_number
      - battery_level
      - online
      - last_online_at
    Terminals:
      type: array
      description: List of terminal devices.
      items:
        $ref: '#/components/schemas/Terminal'
    Terminal-Type:
      title: Terminal type
      type: string
      description: The hardware type/model of the terminal device.
      enum:
      - youtransactor_ucube_touch
      - newland_n950
      - newland_n750
      - newland_r25p
    Terminal-Online:
      title: Terminal online status
      type: boolean
      description: 'Indicates whether the terminal is currently online and connected.


        | Value | Description |

        |-------|-------------|

        | `true` | Terminal is online and available |

        | `false` | Terminal is offline |'
    Terminal-Name:
      title: Terminal name
      type: string
      description: The name of the terminal device.
    Terminal-Battery-Level:
      title: Terminal battery level
      type: integer
      description: The current battery level of the terminal as a percentage (0-100).
      minimum: 0
      maximum: 100
  examples:
    Res-Terminals-List:
      summary: List of terminals at a location
      value:
        terminals:
        - id: 0e53f673-7705-473a-a263-89a3e7647c3d
          name: Terminal 1
          type: newland_n950
          serial_number: RT-00123456
          battery_level: 85
          online: true
          last_online_at: '2025-01-15T14:30:00Z'
        - id: a7b2c8d1-4e5f-6a7b-8c9d-0e1f2a3b4c5d
          name: Terminal 2
          type: newland_n950
          serial_number: RT-00123457
          battery_level: 92
          online: true
          last_online_at: '2025-01-15T14:32:00Z'
  parameters:
    Revolut-Api-Version-Optional:
      name: Revolut-Api-Version
      in: header
      schema:
        type: string
        format: date
        example: '2026-04-20'
        enum:
        - '2023-09-01'
        - '2024-05-01'
        - '2024-09-01'
        - '2025-10-16'
        - '2025-12-04'
        - '2026-03-12'
        - '2026-04-20'
      description: 'The version of the Merchant API, specified in `YYYY-MM-DD` format.


        :::info

        For more information about API versioning, see: [API versions](https://developer.revolut.com/docs/guides/merchant/reference/versioning/api-versions).

        :::'
      x-config-always-visible-in-example: true
    Location-Id-Query:
      name: location_id
      schema:
        type: string
        format: uuid
        description: A UUID string, typically used to identify resources.
      in: query
      required: false
      description: Filter results by location ID.
    Authorization:
      name: Authorization
      in: header
      schema:
        type: string
        format: Bearer <yourSecretApiKey>
        example: Bearer sk_1234567890ABCdefGHIjklMNOpqrSTUvwxYZ_1234567890-Ab_cdeFGHijkLMNopq
      required: true
      description: "This parameter accepts the [Merchant API Secret key](https://business.revolut.com/settings/apis?tab=merchant-api) to authorise requests coming from the merchant's backend. \n\nIt ensures that ensures that each request is authenticated and authorised by verifying the secret key. The secret key should be included in all request headers as a `Bearer` token.\n\n:::info\nFor more information, see: [Authentication](https://developer.revolut.com/docs/api/merchant#authentication)\n:::"
    Operation-Mode:
      name: operation_mode
      in: query
      required: false
      explode: true
      description: 'Filter terminals by operation mode.


        | Value | Description |

        |-------|-------------|

        | `pos` | Returns only terminals in Pay at Counter mode |

        | `payment_acceptance` | Returns only terminals in standard checkout mode |'
      schema:
        $ref: '#/components/schemas/Terminal-Operation-Mode'
  securitySchemes:
    Api-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Each Merchant API request must contain an authorization header in the following format:


        ```

        ''Authorization: Bearer <yourSecretApiKey>''

        ```


        To use this API, you need to generate API keys from your Revolut Business account. The Secret key is used in the authorization header for all server calls, while the Public key is provided with payment methods at checkout.


        :::info

        For detailed instructions on generating your API keys, see: [Generate API keys](https://developer.revolut.com/docs/guides/merchant/get-started#generate-api-keys).

        :::'
