openapi: 3.0.1
info:
  version: '1.0'
  title: Business Accounting Card invitations API
  description: "As a Revolut Business customer with a Business Account, you can use the Business API to automate your own business processes.\nSave time, reduce your costs, and avoid errors by using the Business API. \n\n:::tip[Before you get started]\nTo learn more about the Business API and its features, check the [**user guides**](https://developer.revolut.com/docs/guides/manage-accounts/introduction).\n\nYou can reach them at any time from the main navigation bar **→ Guides → Business**.\n:::\n\nYou can view accounts, manage counterparties, make payments or currency exchanges without manual effort in the Web UI:\n\n- Accounting: [Account management](https://developer.revolut.com/docs/api/business#get-account), [Accounting settings](https://developer.revolut.com/docs/api/business#tag-accounting), [Expense management](https://developer.revolut.com/docs/api/business#get-expense), [Transactions](https://developer.revolut.com/docs/api/business#get-transactions) \n- Payments: \n  - [Counterparty management](https://developer.revolut.com/docs/api/business#get-counterparties)\n  - Payment management: [Payment drafts](https://developer.revolut.com/docs/api/business#delete-payment-draft), [Payout links](https://developer.revolut.com/docs/api/business#get-payout-link), [Transfers](https://developer.revolut.com/docs/api/business#tag-transfers)\n  - [Foreign exchange](https://developer.revolut.com/docs/api/business#tag-foreign-exchange)\n- Business team: [Card management](https://developer.revolut.com/docs/api/business#delete-card), [Card invitation management](https://developer.revolut.com/docs/api/business#update-card-invitation), [Team member management](https://developer.revolut.com/docs/api/business#delete-team-member)\n- Developer tools: [Sandbox simulations](https://developer.revolut.com/docs/api/business#tag-simulations), [Webhook management](https://developer.revolut.com/docs/api/business#tag-webhooks-v2)\n\nTo see the reference for the specific endpoints and operations of this API, browse the menu on the left.\n\n### Test the Business API\n\nYou can test the Business API in Postman by forking this collection:\n\n[![View in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/revolut-api/workspace/revolut-developers/overview)"
  contact: {}
servers:
- url: https://b2b.revolut.com/api/1.0
  description: Production server (uses live data)
- url: https://sandbox-b2b.revolut.com/api/1.0
  description: Sandbox server (uses test data)
tags:
- name: Card invitations
  description: 'Use card invitations to pre-create cards for [team members](https://developer.revolut.com/docs/guides/manage-accounts/teams/manage-team-members) who have not yet onboarded.

    Once the team member completes onboarding, the card is automatically issued as per the configuration specified in the invitation.

    You can also retrieve and update the invitations, or cancel them if they''re no longer needed.


    :::note

    - This feature is not available in Sandbox.

    - To increase your account''s card limits, please contact [Revolut API Support](mailto:api-requests@revolut.com).

    :::


    For more information, see the guides: [Manage card invitations](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations).'
paths:
  /card-invitations:
    servers:
    - url: https://b2b.revolut.com/api/1.0
      description: Production server (uses live data)
    post:
      summary: Create a card invitation
      operationId: createCardInvitation
      description: 'Create an invitation for a virtual [team member card](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-cards#different-types-of-cards) for a new, not-yet-onboarded team member.

        When the team member completes onboarding before the invitation''s expiry date, the invitation will automatically be claimed, and the card will then be issued for the team member immediately.


        :::note

        - This feature is not available in Sandbox.

        - To increase your account''s card limits, please contact [Revolut API Support](mailto:api-requests@revolut.com).

        :::


        For more information, see the guides: [Manage card invitations](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations).'
      security:
      - AccessToken:
        - WRITE
      tags:
      - Card invitations
      requestBody:
        description: Card to create an invitation for
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: 'A unique ID of the request that you provide.


                    There is no strict requirement on the format of this ID, but we suggest using v4 UUIDs.


                    :::warning

                    This ID is used to prevent duplicate card creation requests in case of a lost connection or client error, so make sure you use the same `request_id` for requests related to the same card invitation.

                    The deduplication is limited to 24 hours counting from the first request using a given ID.

                    :::

                    For more information, see the guides: [Manage card invitations - Idempotency](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations#idempotency).'
                  maxLength: 40
                expiry_period:
                  type: string
                  description: "The period after which the card invitation expires if it hasn't been claimed or cancelled. \nMust be specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) duration format.\nThe duration is counted from the card invitation creation.\n- **Minimum duration:** 1 day (`P1D`)\n- **Maximum duration:** 90 days (`P90D`)\n- **Default duration:** 90 days (`P90D`)"
                  pattern: ^P\d+D$
                  default: P90D
                  example: P3D
                holder_id:
                  type: string
                  format: uuid
                  description: 'The ID of the team member who will be assigned as the holder of the card after the invitation is claimed.


                    :::tip

                    To retrieve a team member''s ID, use the [`GET /team-members` operation](https://developer.revolut.com/docs/api/business#get-team-members).

                    :::'
                virtual:
                  type: boolean
                  enum:
                  - true
                  description: "Specifies the type of the card. \nMust be set to `true`, as with the API, you can create only virtual cards.\n\n:::tip\nTo create physical cards, use the [Revolut Business app](https://business.revolut.com).\n:::"
                label:
                  type: string
                  description: 'The label for the card to be issued, displayed in the UI to help distinguish between cards.

                    If not specified, the default label will be set according to the card''s type.

                    For card invitations created via API, it''s always `Virtual`.'
                  minLength: 1
                  maxLength: 30
                  default: Virtual
                spending_limits:
                  description: 'All spending limits set for the card.


                    You can have at most 1 periodic (day/week/month/quarter/all-time) and 1 non-periodic (single transaction) limit at a time.

                    If you try to specify 2 periodic limits at a time, it will result in an error.'
                  type: object
                  $ref: '#/components/schemas/SpendingLimitsSchema'
                spending_period:
                  description: 'The controls for the card''s spending period.


                    They let you set the dates when the card becomes available or unavailable for spending, and define what happens after the end date.


                    If specified, you must provide at least one of these:

                    - `start_date`

                    - `end_date` together with `end_date_action`


                    The dates provided must be in the future.'
                  type: object
                  allOf:
                  - $ref: '#/components/schemas/SpendingPeriodSchema'
                categories:
                  type: array
                  description: 'The list of merchant categories to be available for card spending.

                    If not specified, all categories will be allowed.


                    :::note

                    The `categories` and `merchant_controls` parameters have the following restrictions:

                    - If you set `categories`, you **cannot** set `merchant_controls.control_type` to `allow`.

                    - You **can** set `merchant_controls.control_type` to `block`.

                    - You may also set **either** `categories` or `merchant_controls` independently, or **set neither**.

                    - Both parameters can be used together **only** if `merchant_controls.control_type` is `block`.

                    :::'
                  items:
                    $ref: '#/components/schemas/BusinessMerchantCategory'
                merchant_controls:
                  description: "The merchant-level controls for card spending.\n\nThey let you block or allow the card to only transact with specific merchants: \n- `allow`: permits only the specified merchants (cannot be used if the `categories` parameter is set).\n- `block`: blocks the specified merchants (can be used with or without `categories`)."
                  type: object
                  $ref: '#/components/schemas/MerchantControlsSchema'
                countries:
                  description: Restricts card use to specified countries, provided as 2-letter [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) codes.
                  type: array
                  items:
                    type: string
                    pattern: ^[A-Z]{2}$
                    example: GB
                accounts:
                  type: array
                  description: 'The list of accounts to link to the card.

                    If not specified, all accounts will be linked.

                    To retrieve account IDs, use the [`GET /accounts` operation](https://developer.revolut.com/docs/api/business#get-accounts).'
                  items:
                    type: string
                    format: uuid
              required:
              - request_id
              - holder_id
              - virtual
            examples:
              card_invitation_minimal_example:
                $ref: '#/components/examples/cardInvitationMinCreate'
              card_invitation_full_example:
                $ref: '#/components/examples/cardInvitationMaxCreate'
      responses:
        '200':
          description: Successfully created card invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInvitationCreatedResponse'
              examples:
                card_invitation_response:
                  $ref: '#/components/examples/cardInvitationCreatedDetails'
        '400':
          description: "Bad Request\n\nReturned, for example, when your request is malformed, missing required fields, or when it contains fields that cannot co-exist or unsupported values.\n\nIf the invalid value is an array item, the error might indicate the array index of this faulty item, counting from `0`. \nFor example, if you provide the list of countries, such as `\"countries\": [\"GB\", \"USA\", ...]`, the first item (`GB`) has index `0`, the second item (`USA`) has index `1`, and so on.\nIn the example, `USA` is invalid, because it should be a 2-letter code.\nIn such a case, the error will indicate that `countries[1]` is invalid, thus pointing to the second item in the array, i.e. `USA`."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_required_field:
                  summary: Merchant controls are missing merchant IDs
                  value:
                    code: 3000
                    message: merchant_ids is empty
                categories_and_allowed_merchants_cannot_coexist:
                  summary: Cannot set both categories and allowed merchants
                  value:
                    code: 2101
                    message: Allowed merchant categories must be empty when merchant controls of type ALLOW is present
                expiry_period_too_long:
                  summary: Expiry period is too long (max.90 days)
                  value:
                    code: 3000
                    message: expiry_period must be between PT24H and PT2160H
                invalid_json:
                  summary: Invalid request body
                  value:
                    code: 3000
                    message: 'Cannot parse request: invalid JSON'
                wrong_spending_period_date:
                  summary: Wrong spending period date
                  value:
                    code: 2101
                    message: Spending period start_date must be in the future
                invalid_account_id:
                  summary: Invalid account ID
                  value:
                    code: 2101
                    message: Invalid account ids provided=[0f187658-8c07-491f-9129-ae567b829137]
                invalid_country_code:
                  $ref: '#/components/examples/cardErrorBadCountryCode'
        '401':
          description: 'Unauthorised


            Returned, for example, when the credentials you used to make the request are invalid.

            For more information, see the **Authorization** section.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
              examples:
                unauthorized:
                  $ref: '#/components/examples/errorUnauthorized'
        '404':
          description: 'Team member not found


            Returned when the team member specified as cardholder in `holder_id` does not exist.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 3042
                message: Team member not found
        '422':
          description: 'Unprocessable Entity


            For example, you try to set more than one periodic limit at a time, create an invitation for a deleted team member, or an unexpected error occurred when the initial request with the same `request_id` was sent.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnprocessableEntity'
              examples:
                multiple_periodic_limits:
                  summary: Only one periodic spending limit at a time is allowed
                  value:
                    code: 33000
                    message: Only one periodic limit can be set on a card
                inactive_team_member:
                  summary: Team member not in supported state, e.g. team member was deleted
                  value:
                    message: Card invitations are only allowed for users in created state
                unexpected_error:
                  summary: Unexpected error on initial request
                  value:
                    code: 33009
                    message: 'Idempotent replay failed: first execution was not successful'
        '429':
          description: Concurrent requests with the same idempotency key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 3162
                message: Parallel requests conflict. Please synchronize your requests. request_id=5baa6989-ae59-4668-bb09-042fca180518
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Retrieve a list of card invitations
      operationId: getCardInvitations
      description: 'Get the list of all card invitations in your organisation.


        The results are paginated and sorted by the `created_at` date in reverse chronological order.


        :::note

        - This feature is not available in Sandbox.

        - To increase your account''s card limits, please contact [Revolut API Support](mailto:api-requests@revolut.com).

        :::


        For more information, see the guides: [Manage card invitations](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations).'
      security:
      - AccessToken:
        - READ
      tags:
      - Card invitations
      parameters:
      - name: created_before
        in: query
        required: false
        description: 'Retrieves only card invitations created before this timestamp (`created_at` < `created_before`).

          Used for pagination.

          The default value is the current date and time at which you are calling the endpoint.

          Provided in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.'
        schema:
          type: string
          format: date-time
          default: the date-time at which the request is made
        example: '2025-10-15T14:30:00Z'
      - name: limit
        in: query
        required: false
        description: 'The maximum number of card invitations to return per page.


          To get to the next page, make a new request and use the `created_at` date of the last card invitation returned in the previous response as the value for `created_before`.'
        schema:
          type: number
          format: integer
          minimum: 1
          maximum: 100
          default: 100
      - name: state
        in: query
        required: false
        description: "Retrieves card invitations filtered by the specified state(s).\nTo specify multiple values, follow this pattern: `state={VALUE1}&state={VALUE2}`. \nIf not provided, all states are returned."
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CardInvitationState'
        style: form
        explode: false
        example: state=created&state=redeemed
      responses:
        '200':
          description: The list of card invitations for your business
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CardInvitationsResponse'
              examples:
                list_of_card_invitations:
                  $ref: '#/components/examples/cardInvitationsList'
        '400':
          description: 'Bad request


            Returned, for example, when you provide invalid query parameters.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_limit_parameter:
                  summary: Invalid limit parameter
                  value:
                    code: 2101
                    message: 'Parameter limit must be a valid integer in range: [1, 100].'
                invalid_created_before_format:
                  summary: Invalid created_before format
                  value:
                    code: 2101
                    message: Parameter created_before must be a valid timestamp
                invalid_state_parameter:
                  summary: Invalid state parameter
                  value:
                    code: 2101
                    message: 'Invalid card invitation state: active'
        '401':
          description: 'Unauthorised


            Returned, for example, when the credentials you used to make the request are invalid.

            For more information, see the **Authorization** section.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
              examples:
                unauthorized:
                  $ref: '#/components/examples/errorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /card-invitations/{card_invitation_id}:
    servers:
    - url: https://b2b.revolut.com/api/1.0
      description: Production server (uses live data)
    get:
      summary: Retrieve card invitation details
      operationId: getCardInvitation
      description: 'Get the details of a specific card invitation, based on its ID.


        :::note

        - This feature is not available in Sandbox.

        - To increase your account''s card limits, please contact [Revolut API Support](mailto:api-requests@revolut.com).

        :::


        For more information, see the guides: [Manage card invitations](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations).'
      security:
      - AccessToken:
        - READ
      tags:
      - Card invitations
      parameters:
      - name: card_invitation_id
        in: path
        required: true
        description: The ID of the card invitation.
        schema:
          type: string
          format: uuid
        example: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
      responses:
        '200':
          description: Information about the card invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInvitationResponse'
              examples:
                invitation_created:
                  $ref: '#/components/examples/cardInvitationCreatedDetails'
                invitation_redeemed:
                  $ref: '#/components/examples/cardInvitationRedeemedDetails'
                invitation_expired:
                  $ref: '#/components/examples/cardInvitationExpiredDetails'
                invitation_failed:
                  $ref: '#/components/examples/cardInvitationFailedDetails'
                invitation_failed_team_member_deleted:
                  $ref: '#/components/examples/cardInvitationFailedNoHolderDetails'
        '400':
          description: 'Bad request


            Returned, for example, when you provide an invalid card invitation ID in the path.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_id:
                  $ref: '#/components/examples/cardErrorBadId'
        '401':
          description: 'Unauthorised


            Returned, for example, when the credentials you used to make the request are invalid.

            For more information, see the **Authorization** section.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
              examples:
                unauthorized:
                  $ref: '#/components/examples/errorUnauthorized'
        '404':
          description: Card invitation doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 1214
                message: Card invitation not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update card invitation settings
      operationId: updateCardInvitation
      description: 'Update settings for a specific card invitation, based on its ID.

        You can update successfully created invitations that have not been claimed yet (`state=created`).


        :::note

        - This feature is not available in Sandbox.

        - To increase your account''s card limits, please contact [Revolut API Support](mailto:api-requests@revolut.com).

        :::


        :::warning

        Some spend control parameters can affect one another.

        When updating spend controls, review the resulting settings in the response to ensure they reflect the configuration you intended.

        :::


        For more information, see the guides: [Manage card invitations](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations).'
      security:
      - AccessToken:
        - WRITE
      tags:
      - Card invitations
      parameters:
      - name: card_invitation_id
        in: path
        required: true
        description: The ID of the card invitation.
        schema:
          type: string
          format: uuid
        example: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                label:
                  type: string
                  description: "The label of the card.\n\nCards without labels are not allowed.\nIf set to `null`, the default label will be set according to the card's type.\n\n:::tip[Default labels]\nFor virtual cards, the default label is `Virtual`.\nFor physical cards, depending on the type, it can be, for example, `Standard` or `Metal`. \n\nAs these values depend on available card types, they are subject to change over time.\n:::"
                  minLength: 1
                  maxLength: 30
                  default: Default label according to card's type
                spending_limits:
                  description: 'All spending limits to be set for the card.


                    You can have at most 1 periodic (day/week/month/quarter/all-time) and 1 non-periodic (single transaction) limit at a time.

                    If you try to specify 2 periodic limits at a time, it will result in an error.


                    Use `null` as the value for a specific limit to erase that limit.

                    Use `null` as the value for the `spending_limits` object to erase all limits.'
                  type: object
                  $ref: '#/components/schemas/SpendingLimitsSchema'
                spending_period:
                  description: 'The controls for the card''s spending period.


                    They let you set or modify the dates when the card should become available or unavailable for spending, and define what happens after the end date.


                    If specified, you must provide at least one of these:

                    - `start_date`

                    - `end_date` together with `end_date_action`


                    The spending period dates must be in the future.


                    The dates are inclusive.

                    This means that:

                    - If you set the `start_date` to `2026-03-31`, the card will become active on that day.

                    - If you set the `end_date` to `2027-12-31`, the card will be active through that day, and will be locked/terminated starting on 1st Jan 2028.


                    :::note

                    You can update the spending period settings in a few ways, depending on your use case:

                    - To remove the start date, but keep the end date settings, provide the current `spending_period` settings without the `start_date`.

                    - To remove the start date when no end date is set, provide the `spending_period.start_date` set to `null`.

                    - To remove **all** spending period settings, provide `spending_period` set to `null`.


                    If you wish to erase a spending period end date, you can do this in a similar way, applying the steps to `spending_period.end_date` and `spending_period.end_date_action`.

                    :::'
                  type: object
                  allOf:
                  - $ref: '#/components/schemas/SpendingPeriodSchema'
                categories:
                  type: array
                  description: 'The list of merchant categories to be available for card spending.

                    Use `null` to erase the value and reset to empty (all categories will be allowed).


                    :::note

                    The `categories` and `merchant_controls` parameters have the following restrictions:

                    - If you set `categories`, you **cannot** set `merchant_controls.control_type` to `allow`.

                    - You **can** set `merchant_controls.control_type` to `block`.

                    - You may also set **either** `categories` or `merchant_controls` independently, or **set neither**.

                    - Both parameters can be used together **only** if `merchant_controls.control_type` is `block`.

                    :::'
                  items:
                    $ref: '#/components/schemas/BusinessMerchantCategory'
                merchant_controls:
                  description: 'The merchant-level controls for card spending.


                    They let you block or allow the card to only transact with specific merchants:

                    - `allow`: permits only the specified merchants (cannot be used if the `categories` parameter is set).

                    - `block`: blocks the specified merchants (can be used with or without `categories`).'
                  type: object
                  $ref: '#/components/schemas/MerchantControlsSchema'
                countries:
                  description: The list of countries where the card can be used, provided as 2-letter [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) codes.
                  type: array
                  items:
                    type: string
                    pattern: ^[A-Z]{2}$
                    example: GB
                accounts:
                  type: array
                  description: 'The list of accounts to link to the card.

                    If not specified, all accounts will be linked.

                    To retrieve account IDs, use the [`GET /accounts` operation](https://developer.revolut.com/docs/api/business#get-accounts).'
                  items:
                    type: string
                    format: uuid
            examples:
              update_all_properties:
                summary: Update all properties
                value:
                  label: New card label
                  spending_limits:
                    single:
                      amount: 100
                      currency: GBP
                    month:
                      amount: 300
                      currency: GBP
                  spending_period:
                    start_date: '2025-12-20'
                    end_date: '2027-12-20'
                    end_date_action: lock
                  categories:
                  - services
                  - shopping
                  - furniture
                  merchant_controls:
                    control_type: block
                    merchant_ids:
                    - 46df0a1b-3678-4ded-9cf5-9f4da1b5019d
                    - e8a87432-f71e-4deb-be84-969a02792929
                    - 3f09819f-63d1-473a-966c-54d8b9f43a93
                  countries:
                  - GB
                  - SG
                  - ES
                  accounts:
                  - f52c6c84-26b9-4e95-bbcf-99ed6523fb51
                  - 9ae4345a-5ee5-496b-b776-241fcc5a5ba4
              erase_spending_period_start_date:
                summary: Erase spending period start date and update end date
                value:
                  spending_period:
                    start_date: null
                    end_date: '2027-12-20'
                    end_date_action: terminate
              erase_all_spending_limits:
                summary: Erase all spending limits
                value:
                  spending_limits: null
              erase_single_transaction_limit:
                summary: Erase the single-transaction limit
                value:
                  spending_limits:
                    single: null
              allow_specific_merchants:
                summary: Allow only specific merchants
                value:
                  categories: []
                  merchant_controls:
                    control_type: allow
                    merchant_ids:
                    - 46df0a1b-3678-4ded-9cf5-9f4da1b5019d
                    - e8a87432-f71e-4deb-be84-969a02792929
      responses:
        '200':
          description: Information about the updated card invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInvitationUpdatedResponse'
              examples:
                update_all_properties:
                  $ref: '#/components/examples/cardInvitationUpdatedAllProperties'
                erase_spending_period_start_date:
                  $ref: '#/components/examples/cardInvitationUpdatedEraseSpendingPeriodStartDate'
                erase_all_spending_limits:
                  $ref: '#/components/examples/cardInvitationUpdatedEraseAllSpendingLimits'
                erase_single_transaction_limit:
                  $ref: '#/components/examples/cardInvitationUpdatedEraseSingleTransactionLimit'
                allow_specific_merchants:
                  $ref: '#/components/examples/cardInvitationUpdatedAllowSpecificMerchants'
        '400':
          description: "Bad request\n\nReturned, for example, when there's nothing to update or the provided details are unsupported for this operation.\n\nIf the invalid value is an array item, the error might indicate the array index of this faulty item, counting from `0`. \nFor example, if you provide the list of countries, such as `\"countries\": [\"GB\", \"USA\", ...]`, the first item (`GB`) has index `0`, the second item (`USA`) has index `1`, and so on.\nIn the example, `USA` is invalid, because it should be a 2-letter code.\nIn such a case, the error will indicate that `countries[1]` is invalid, thus pointing to the second item in the array, i.e. `USA`."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                nothing_to_update:
                  summary: Empty request body - nothing to update
                  value:
                    code: 1112
                    message: Specify at least one parameter for card update
                invalid_spending_period_date_settings:
                  summary: Invalid spending period date settings
                  value:
                    code: 3000
                    message: At least one of start_date or end_date must be present
                invalid_spending_period_end_settings:
                  summary: Invalid spending period end settings
                  value:
                    code: 3000
                    message: end_date and end_date_action must be either both present or both empty
                spending_period_end_date_before_start_date:
                  summary: Spending period end date is sooner than start date
                  value:
                    code: 3000
                    message: end_date must be at or after 2025-12-28, but is 2024-12-20
                past_spending_period_end_date:
                  summary: Spending period start date is in the past
                  value:
                    code: 2102
                    message: Spending period start_date must be in the future
                multiple_periodic_limits:
                  summary: Multiple periodic spending limits at a time
                  value:
                    code: 3000
                    message: Only one periodic limit can be specified
                label_too_long:
                  summary: Card label too long
                  value:
                    code: 3000
                    message: Card label cannot contain more than 30 characters
                invalid_id:
                  $ref: '#/components/examples/cardErrorBadId'
                invalid_country_code:
                  $ref: '#/components/examples/cardErrorBadCountryCode'
        '401':
          description: 'Unauthorised


            Returned, for example, when the credentials you used to make the request are invalid.

            For more information, see the **Authorization** section.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
              examples:
                unauthorized:
                  $ref: '#/components/examples/errorUnauthorized'
        '404':
          description: 'Card invitation doesn''t exist


            The card invitation for which you wish to update details does not exist.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 3088
                message: Card invitation '3c059a42-24e1-4fd6-bfbe-f3c09234315f not found
        '422':
          description: 'Unprocessable Entity


            Returned, for example, when you try to update a card invitation that''s not in state `created`.

            Such an invitation is no longer active and therefore cannot be modified.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnprocessableEntity'
              examples:
                unsupported_card_invitation_state:
                  summary: Card invitation is not in state 'created'
                  value:
                    message: Unable to update card invitation with state=redeemed
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /card-invitations/{cardInvitationId}/cancel:
    post:
      servers:
      - url: https://b2b.revolut.com/api/1.0
        description: Production server (uses live data)
      summary: Cancel a card invitation
      operationId: cancelCardInvitation
      description: 'Cancel a specific card invitation, based on its ID.


        :::note

        - This feature is not available in Sandbox.

        - To increase your account''s card limits, please contact [Revolut API Support](mailto:api-requests@revolut.com).

        :::


        You can cancel successfully created invitations that have not been claimed yet (`state=created`).


        Once the card invitation is cancelled, it cannot be claimed or reactivated.


        A successful response does not get any content in return.


        For more information, see the guides: [Manage card invitations](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations).'
      security:
      - AccessToken:
        - WRITE
      tags:
      - Card invitations
      parameters:
      - name: card_invitation_id
        in: path
        required: true
        description: The ID of the card invitation to cancel.
        schema:
          type: string
          format: uuid
        example: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
      responses:
        '204':
          description: Card invitation successfully cancelled
        '400':
          description: 'Bad request


            Returned, for example, when the format of the invitation ID you provided is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_id:
                  $ref: '#/components/examples/cardErrorBadId'
        '401':
          description: 'Unauthorised


            Returned, for example, when the credentials you used to make the request are invalid.

            For more information, see the **Authorization** section.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
              examples:
                unauthorized:
                  $ref: '#/components/examples/errorUnauthorized'
        '404':
          description: 'Card invitation doesn''t exist


            The card invitation you wish to cancel does not exist.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 3088
                message: Card invitation '10a2069f-fc11-4d5f-82b4-29c4ecc3a62e' not found
        '422':
          description: 'Unprocessable entity


            Returned, for example, when you try to cancel a card invitation that''s not in state `created`.

            Such an invitation is no longer active and therefore cannot be cancelled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnprocessableEntity'
              examples:
                unsupported_card_invitation_state:
                  summary: Card invitation is not in state 'created'
                  value:
                    message: Unable to cancel card invitation with state=redeemed
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CardInvitationUpdatedAt:
      type: string
      description: The date and time the card invitation was last updated in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
      format: date-time
    SpendingLimitPeriodic:
      type: object
      description: The limit for transactions within a given period.
      properties:
        amount:
          type: number
          format: double
          description: The value of the spending limit.
        currency:
          $ref: '#/components/schemas/TransactionLimitCurrency'
      required:
      - amount
      - currency
    CardInvitationAccounts:
      type: array
      description: The list of accounts that will be linked to the card.
      items:
        type: string
        format: uuid
    CardInvitationCountries:
      description: 'The list of countries where the team member will be able to use the card.

        Specified as 2-letter [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) codes.'
      type: array
      items:
        type: string
        pattern: ^[A-Z]{2}$
        example: GB
    SpendProgram:
      description: 'The [spend program](https://help.revolut.com/business/help/making-paymentsbusiness/spend-controls/setting-card-presets-for-my-team-members/) assigned to the card.

        :::note

        To use this property, please contact [Revolut API Support](mailto:api-requests@revolut.com).

        :::'
      type: object
      readOnly: true
      properties:
        label:
          description: The name of the spend program.
          type: string
          maxLength: 30
      required:
      - label
    CardInvitationCardId:
      type: string
      format: uuid
      description: "The ID of the card issued after this invitation was claimed. \n:::note\nOnly returned for invitations in state `redeemed`.\n:::\n"
    Error:
      type: object
      properties:
        code:
          type: integer
          description: The error code.
        message:
          type: string
          description: The description of the error.
      required:
      - code
      - message
    MerchantControlsSchema:
      type: object
      required:
      - control_type
      - merchant_ids
      properties:
        control_type:
          type: string
          enum:
          - block
          - allow
          description: The type of control to apply.
        merchant_ids:
          type: array
          minItems: 1
          maxItems: 20
          description: 'The list of IDs of merchants to which the control applies.


            :::tip

            To find merchant IDs, check transaction details (→ `merchant.id`).

            You can fetch transaction details for a [specific transaction](https://developer.revolut.com/docs/api/business#get-transaction#response) or for [all transactions](https://developer.revolut.com/docs/api/business#get-transactions#response).

            :::'
          items:
            type: string
            format: uuid
    CardInvitationHolderId:
      type: string
      description: 'The ID of the team member to be assigned as the holder of the card after the invitation is claimed.


        :::note

        If the team member has been deleted since the invitation was created, the `holder_id` is not returned.

        :::'
      format: uuid
    SpendingPeriodSchema:
      type: object
      properties:
        start_date:
          type: string
          format: date
          description: 'The start date (inclusive) of the spending period, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DD`).

            Uses the [timezone set by the business](https://business.revolut.com/settings/appearance), or defaults to `Europe/London`.'
          example: '2025-09-26'
        end_date:
          type: string
          format: date
          description: 'The end date (inclusive) of the spending period, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DD`).

            Uses the [timezone set by the business](https://business.revolut.com/settings/appearance), or defaults to `Europe/London`.'
          example: '2030-12-31'
        end_date_action:
          type: string
          enum:
          - lock
          - terminate
          description: The action to take after the end date of the spending period.
      anyOf:
      - required:
        - start_date
      - required:
        - end_date
        - end_date_action
    CardInvitationCreatedResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CardInvitationId'
        state:
          $ref: '#/components/schemas/CardInvitationState'
        created_at:
          $ref: '#/components/schemas/CardInvitationCreatedAt'
        updated_at:
          $ref: '#/components/schemas/CardInvitationUpdatedAt'
        expiry_date:
          $ref: '#/components/schemas/CardInvitationExpiryDate'
        holder_id:
          $ref: '#/components/schemas/CardInvitationCreatedHolderId'
        virtual:
          $ref: '#/components/schemas/CardInvitationVirtual'
        label:
          $ref: '#/components/schemas/CardInvitationLabel'
        spending_limits:
          $ref: '#/components/schemas/SpendingLimitsSchema'
        spending_period:
          $ref: '#/components/schemas/CardInvitationSpendingPeriod'
        categories:
          $ref: '#/components/schemas/CardInvitationCategories'
        merchant_controls:
          $ref: '#/components/schemas/MerchantControlsSchema'
        countries:
          $ref: '#/components/schemas/CardInvitationCountries'
        accounts:
          $ref: '#/components/schemas/CardInvitationAccounts'
      required:
      - id
      - created_at
      - updated_at
      - virtual
      - state
      - accounts
    BusinessMerchantCategory:
      enum:
      - health
      - general
      - services
      - airlines
      - transport
      - accommodation
      - utilities
      - shopping
      - financial
      - furniture
      - hardware
      - groceries
      - fuel
      - entertainment
      - software
      - restaurants
      - advertising
      - cash
      - education
      - government
      type: string
    ErrorUnauthorized:
      type: object
      description: 'Unauthorised


        Returned, for example, when the credentials you used to make the request are invalid.

        For more information, see the **Authorization** section.'
      allOf:
      - $ref: '#/components/schemas/ErrorWithStatus'
    SpendingLimitSingleTransaction:
      type: object
      description: The limit for a single transaction.
      properties:
        amount:
          type: number
          format: double
          description: The value of the spending limit.
        currency:
          $ref: '#/components/schemas/TransactionLimitCurrency'
      required:
      - amount
      - currency
    ErrorUnprocessableEntity:
      type: object
      description: 'Unprocessable entity


        Returned, for example, when you try to modify a resource which is not a in state that would allow for modifications, e.g. a card invitation in state `failed`.'
      properties:
        code:
          type: integer
          description: The error code.
        message:
          type: string
          description: The description of the error.
      required:
      - message
    CardInvitationLabel:
      type: string
      description: The label of the card.
    CardInvitationState:
      type: string
      enum:
      - created
      - expired
      - failed
      - redeemed
      description: 'The current state of the card invitation:

        - **`created`**: Invitation has been created but not yet claimed.

        - **`expired`**: Invitation has expired due to expiry date being reached or manual cancellation.

        - **`failed`**: Invitation claim attempt failed.

        - **`redeemed`**: Invitation has been successfully claimed.


        To learn more about card invitation lifecycle, see the guide: [Manage card invitations → Card invitation state](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations#card-invitation-state).'
    ErrorWithStatus:
      type: object
      description: Error returning a status instead of code.
      properties:
        status:
          type: integer
          description: The error code.
        message:
          type: string
          description: The description of the error.
      required:
      - status
      - message
    CardInvitationsResponse:
      type: array
      items:
        $ref: '#/components/schemas/CardInvitationResponse'
      description: A list of card invitations
    TransactionLimitCurrency:
      type: string
      pattern: ^[A-Z]{3}$
      description: The currency of the spending limit, provided as [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code in upper case.
    CardInvitationResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CardInvitationId'
        state:
          $ref: '#/components/schemas/CardInvitationState'
        created_at:
          $ref: '#/components/schemas/CardInvitationCreatedAt'
        updated_at:
          $ref: '#/components/schemas/CardInvitationUpdatedAt'
        expiry_date:
          $ref: '#/components/schemas/CardInvitationExpiryDate'
        card_id:
          $ref: '#/components/schemas/CardInvitationCardId'
        holder_id:
          $ref: '#/components/schemas/CardInvitationHolderId'
        virtual:
          $ref: '#/components/schemas/CardInvitationVirtual'
        label:
          $ref: '#/components/schemas/CardInvitationLabel'
        spend_program:
          $ref: '#/components/schemas/SpendProgram'
        spending_limits:
          $ref: '#/components/schemas/SpendingLimitsSchema'
        spending_period:
          $ref: '#/components/schemas/CardInvitationSpendingPeriod'
        categories:
          $ref: '#/components/schemas/CardInvitationCategories'
        merchant_controls:
          $ref: '#/components/schemas/MerchantControlsSchema'
        countries:
          $ref: '#/components/schemas/CardInvitationCountries'
        accounts:
          $ref: '#/components/schemas/CardInvitationAccounts'
      required:
      - id
      - created_at
      - updated_at
      - virtual
      - state
      - accounts
    SpendingLimitsSchema:
      type: object
      properties:
        single:
          description: The limit for a single transaction.
          $ref: '#/components/schemas/SpendingLimitSingleTransaction'
        day:
          description: The daily limit for transactions.
          $ref: '#/components/schemas/SpendingLimitPeriodic'
        week:
          description: The weekly limit for transactions.
          $ref: '#/components/schemas/SpendingLimitPeriodic'
        month:
          description: The monthly limit for transactions.
          $ref: '#/components/schemas/SpendingLimitPeriodic'
        quarter:
          description: The quarterly limit for transactions.
          $ref: '#/components/schemas/SpendingLimitPeriodic'
        year:
          description: The yearly limit for transactions.
          $ref: '#/components/schemas/SpendingLimitPeriodic'
        all_time:
          description: The all-time limit for transactions.
          $ref: '#/components/schemas/SpendingLimitPeriodic'
      example:
        single:
          amount: 200.22
          currency: GBP
        week:
          amount: 200.44
          currency: GBP
    CardInvitationVirtual:
      type: boolean
      description: Specifies whether the issued card will be a virtual (`true`) or physical (`false`) one.
    CardInvitationSpendingPeriod:
      description: 'The controls for the card''s spending period.


        They specify the dates when the card will become available or unavailable for spending, and define what happens after the end date.'
      type: object
      allOf:
      - $ref: '#/components/schemas/SpendingPeriodSchema'
    CardInvitationUpdatedResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CardInvitationId'
        state:
          $ref: '#/components/schemas/CardInvitationState'
        created_at:
          $ref: '#/components/schemas/CardInvitationCreatedAt'
        updated_at:
          $ref: '#/components/schemas/CardInvitationUpdatedAt'
        expiry_date:
          $ref: '#/components/schemas/CardInvitationExpiryDate'
        holder_id:
          $ref: '#/components/schemas/CardInvitationCreatedHolderId'
        virtual:
          $ref: '#/components/schemas/CardInvitationVirtual'
        label:
          $ref: '#/components/schemas/CardInvitationLabel'
        spend_program:
          $ref: '#/components/schemas/SpendProgram'
        spending_limits:
          $ref: '#/components/schemas/SpendingLimitsSchema'
        spending_period:
          $ref: '#/components/schemas/CardInvitationSpendingPeriod'
        categories:
          $ref: '#/components/schemas/CardInvitationCategories'
        merchant_controls:
          $ref: '#/components/schemas/MerchantControlsSchema'
        countries:
          $ref: '#/components/schemas/CardInvitationCountries'
        accounts:
          $ref: '#/components/schemas/CardInvitationAccounts'
      required:
      - id
      - created_at
      - updated_at
      - virtual
      - state
      - accounts
    CardInvitationCreatedAt:
      type: string
      description: The date and time the card invitation was created in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
      format: date-time
    CardInvitationId:
      type: string
      description: The ID of the card invitation.
      format: uuid
    CardInvitationExpiryDate:
      type: string
      format: date-time
      description: "The date and time after which this card invitation expires if not claimed or cancelled before then.\nSpecified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.\n:::note\nOnly returned for invitations in state `created`.\n:::tip\nFor other states, to find out when a card invitation transitioned to its [final state](https://developer.revolut.com/docs/guides/manage-accounts/cards/manage-card-invitations#card-invitation-state), check the `updated_at` value. \n:::"
      example: '2025-10-20T15:09:24Z'
    CardInvitationCreatedHolderId:
      type: string
      description: The ID of the team member to be assigned as the holder of the card after the invitation is claimed.
      format: uuid
    CardInvitationCategories:
      type: array
      description: "The list of merchant categories that will be available for card spending.             \nIf this parameter is not specified, categories are not restricted."
      items:
        $ref: '#/components/schemas/BusinessMerchantCategory'
  examples:
    cardInvitationCreatedDetails:
      summary: Created (active) invitation (example with spending limits)
      value:
        id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        state: created
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-21T00:00:00Z'
        expiry_date: '2025-12-06T00:00:00Z'
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: Dariel Pattie
        spending_limits:
          single:
            amount: 50
            currency: GBP
          week:
            amount: 250
            currency: GBP
        spending_period:
          end_date: '2026-12-31'
          end_date_action: lock
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 26a852b8-4046-4e71-949d-22f4cb6be26a
    cardInvitationUpdatedAllProperties:
      summary: Update all properties
      value:
        id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        state: created
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-21T10:27:15Z'
        expiry_date: '2025-12-06T00:00:00Z'
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: New card label
        spending_limits:
          single:
            amount: 100
            currency: GBP
          week:
            amount: 300
            currency: GBP
        spending_period:
          start_date: '2025-12-20'
          end_date: '2027-12-20'
          end_date_action: lock
        categories:
        - services
        - shopping
        - furniture
        merchant_controls:
          control_type: block
          merchant_ids:
          - 46df0a1b-3678-4ded-9cf5-9f4da1b5019d
          - e8a87432-f71e-4deb-be84-969a02792929
          - 3f09819f-63d1-473a-966c-54d8b9f43a93
        countries:
        - GB
        - SG
        - ES
        accounts:
        - f52c6c84-26b9-4e95-bbcf-99ed6523fb51
        - 9ae4345a-5ee5-496b-b776-241fcc5a5ba4
    cardInvitationExpiredDetails:
      summary: Expired or cancelled invitation
      value:
        id: 0c0d252e-5fff-498e-83f8-f9b635904275
        state: expired
        created_at: '2025-11-22T00:00:00Z'
        updated_at: '2025-11-30T00:00:00Z'
        holder_id: 5ea0ffa1-5dc5-43c4-ac5e-b9e0deb9ec12
        virtual: true
        label: Valeria Keone - meals
        spending_limits:
          single:
            amount: 50
            currency: GBP
          week:
            amount: 250
            currency: GBP
        spending_period:
          start_date: '2025-11-29'
          end_date: '2025-12-29'
          end_date_action: terminate
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 6b472c0e-f595-4681-88b4-76eaa0522824
    cardInvitationUpdatedEraseSingleTransactionLimit:
      summary: Erase single-transaction limit
      value:
        id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        state: created
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-21T10:27:15Z'
        expiry_date: '2025-12-06T00:00:00Z'
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: Dariel Pattie
        spending_limits:
          week:
            amount: 250
            currency: GBP
        spending_period:
          start_date: '2025-12-20'
          end_date: '2026-12-31'
          end_date_action: lock
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 26a852b8-4046-4e71-949d-22f4cb6be26a
    cardInvitationMinCreate:
      summary: Card invitation for an onboarding team member - minimal example
      value:
        request_id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
    cardErrorBadCountryCode:
      summary: Invalid country code (when countries=["GB", "USA"])
      value:
        code: 3000
        message: 'Invalid value for ''countries[1]'': expected a 2-letter ISO country code (e.g. ''US'').'
    cardInvitationFailedNoHolderDetails:
      summary: Invitation that failed because team member was deleted
      value:
        id: bfc40b73-1e8b-4cba-ad7d-2f54ee707a21
        state: failed
        created_at: '2025-11-28T00:00:00Z'
        updated_at: '2025-12-02T11:31:15Z'
        virtual: true
        label: Natália Popović - offb
        spending_period:
          start_date: '2025-11-30'
          end_date: '2026-11-30'
          end_date_action: terminate
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 6b472c0e-f595-4681-88b4-76eaa0522824
    cardInvitationFailedDetails:
      summary: Failed invitation
      value:
        id: 9ab6019a-6a26-41f8-b034-44b591f8b1a8
        state: failed
        created_at: '2025-11-27T00:00:00Z'
        updated_at: '2025-11-27T00:00:00Z'
        holder_id: af686385-4ec0-4139-a4a0-963ee9fa5bc8
        virtual: true
        label: Connor Thato - meals
        spending_period:
          start_date: '2025-12-01'
          end_date: '2026-01-01'
          end_date_action: terminate
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 6b472c0e-f595-4681-88b4-76eaa0522824
    cardInvitationUpdatedEraseSpendingPeriodStartDate:
      summary: Erase spending period start date and update end date
      value:
        id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        state: created
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-21T10:27:15Z'
        expiry_date: '2025-12-06T00:00:00Z'
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: Dariel Pattie
        spending_limits:
          single:
            amount: 50
            currency: GBP
          week:
            amount: 250
            currency: GBP
        spending_period:
          end_date: '2027-12-20'
          end_date_action: terminate
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 26a852b8-4046-4e71-949d-22f4cb6be26a
    cardInvitationMaxCreate:
      summary: Card invitation for an onboarding team member - full example
      value:
        request_id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        expiry_period: P14D
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: Dariel Pattie
        spending_limits:
          single:
            amount: 50
            currency: GBP
          week:
            amount: 250
            currency: GBP
        spending_period:
          end_date: '2026-12-31'
          end_date_action: terminate
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 26a852b8-4046-4e71-949d-22f4cb6be26a
    errorUnauthorized:
      summary: Unauthorized
      value:
        status: 401
        message: The request should be authorized.
    cardInvitationUpdatedAllowSpecificMerchants:
      summary: Erase single-transaction limit
      value:
        id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        state: created
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-21T10:27:15Z'
        expiry_date: '2025-12-06T00:00:00Z'
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: Dariel Pattie
        spending_limits:
          single:
            amount: 50
            currency: GBP
          week:
            amount: 250
            currency: GBP
        spending_period:
          start_date: '2025-12-20'
          end_date: '2026-12-31'
          end_date_action: lock
        merchant_controls:
          control_type: allow
          merchant_ids:
          - 46df0a1b-3678-4ded-9cf5-9f4da1b5019d
          - e8a87432-f71e-4deb-be84-969a02792929
        countries:
        - GB
        accounts:
        - 26a852b8-4046-4e71-949d-22f4cb6be26a
    cardInvitationUpdatedEraseAllSpendingLimits:
      summary: Erase all spending limits
      value:
        id: 4016b891-bb50-4bd2-8a1b-adb74f4aacdd
        state: created
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-21T10:27:15Z'
        expiry_date: '2025-12-06T00:00:00Z'
        holder_id: 3791712d-e5b5-4d5f-b1f1-79a93d57e08b
        virtual: true
        label: Dariel Pattie
        spending_period:
          start_date: '2025-12-20'
          end_date: '2026-12-31'
          end_date_action: lock
        categories:
        - groceries
        - restaurants
        merchant_controls:
          control_type: block
          merchant_ids:
          - 14c8d663-2093-4086-96ed-334a4011333f
          - 06e0f7fa-38a2-4fcf-a115-df5caf190b55
        countries:
        - GB
        accounts:
        - 26a852b8-4046-4e71-949d-22f4cb6be26a
    cardErrorBadId:
      summary: Invalid ID - the path parameter must be UUID
      value:
        message: 'Invalid path parameter ''id'': expected UUID'
        code: 2101
    cardInvitationRedeemedDetails:
      summary: Redeemed invitation (example with spend program)
      value:
        id: 809d745d-9598-4680-8464-d82113e9024b
        state: redeemed
        created_at: '2025-11-21T00:00:00Z'
        updated_at: '2025-11-23T09:01:13Z'
        card_id: 744b29d4-19e9-40f8-89e6-bfb264ef5710
        holder_id: 19c76bef-3583-4848-af09-4b2a96c75a14
        virtual: true
        label: Manuel Haleigh - WFH
        spend_program:
          label: WFH equipment
        spending_period:
          start_date: '2025-11-23'
          end_date: '2025-12-23'
          end_date_action: terminate
        categories:
        - furniture
        - hardware
        countries:
        - GB
        accounts:
        - 6b472c0e-f595-4681-88b4-76eaa0522824
    cardInvitationsList:
      summary: List of card invitations
      value:
      - $ref: '#/components/examples/cardInvitationCreatedDetails/value'
      - $ref: '#/components/examples/cardInvitationRedeemedDetails/value'
      - $ref: '#/components/examples/cardInvitationExpiredDetails/value'
      - $ref: '#/components/examples/cardInvitationFailedDetails/value'
      - $ref: '#/components/examples/cardInvitationFailedNoHolderDetails/value'
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
      description: "Each Business API request must contain an authorization header in the following format to make a call: `Bearer <your_access_token>`.\n\nThe access token will be obtained the first time you set up your application and has an expiration of 40 minutes. \nDuring setup, a `refresh_token` will also be obtained which allows to obtain a new `access_token`.\n\n:::danger\nNever share your client-assertion JWT (JSON web token), `access_token` and `refresh_token` with anyone, as these can be used to access your banking data and initiate transactions.\n:::\n\nAccess tokens can be issued with four security scopes and require a JWT (JSON Web Token) signature to be obtained:\n- `READ`: Permissions for `GET` operations.\n- `WRITE`: Permissions to update counterparties, webhooks, and issue payment drafts.\n- `PAY`: Permissions to initiate or cancel transactions and currency exchanges.    \n- `READ_SENSITIVE_CARD_DATA`: Permissions to retrieve sensitive card details.\n\n  :::warning\n  If you enable the `READ_SENSITIVE_CARD_DATA` scope for your access token, you must set up IP whitelisting. \n  Failing to do so will prevent you from accessing **any** Business API endpoint. \n\n  IP whitelisting means that you must specify an IP or a set of IPs which will be the only IPs from which requests to the API will be accepted. \n  To do so:\n  1. Go to the Revolut Business web app [settings](https://business.revolut.com/settings) → **APIs** → **Business API**.\n  2. Select the corresponding API certificate.\n  3. In **Production IP whitelist**, provide the IP(s) which should be whitelisted.\n      Make sure that the IPs you provide are **not** [local (i.e. private) IP addresses](https://www.okta.com/en-sg/identity-101/understanding-private-ip-ranges/). \n  4. Save the new settings.\n  :::\n\nTo configure your JWT and obtain the refresh and first access tokens, complete the following steps:\n\n  1. [Sign up for a Revolut Business account](https://developer.revolut.com/docs/guides/manage-accounts/get-started/sign-up-for-revolut-business-account)\n  2. [Prepare your Sandbox environment](https://developer.revolut.com/docs/guides/manage-accounts/get-started/prepare-sandbox-environment)\n  3. [Make your first API request](https://developer.revolut.com/docs/guides/manage-accounts/get-started/make-your-first-api-request)"
